<section class="reasons" data-animation>
  <div class="container">
    <h2 class="reasons__title title title--light ">Пять причин выбрать биоклиматическую перголу</h2>
    <ul class="reasons__list">
      <li class="reasons__item">
        <p class="reasons__subtitle">Умное управление микроклиматом</p>
        <div class="reasons__content">
          <p>Поворотные ламели регулируют свет и&nbsp;вентиляцию, обеспечивая оптимальные условия в&nbsp;любую погоду. Автоматизация делает всё за&nbsp;вас&nbsp;— в&nbsp;зависимости от&nbsp;солнца, дождя или ветра.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Всесезонный комфорт</p>
        <div class="reasons__content">
          <p>При закрытии ламели герметично перекрывают кровлю и&nbsp;отводят воду через встроенную дренажную систему. Вы&nbsp;остаётесь под надёжной защитой от&nbsp;дождя, жары и&nbsp;осадков.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Архитектурная эстетика</p>
        <div class="reasons__content">
          <p>Современный дизайн, чёткие формы, скрытые механизмы и&nbsp;индивидуальные цветовые решения. Пергола становится частью архитектуры, а&nbsp;не&nbsp;просто конструкцией.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Интеграция дополнительных опций</p>
        <div class="reasons__content">
          <p>Встроенное освещение, ИК‑обогрев, климатические датчики, ZIP‑экраны, остекление&nbsp;— всё можно добавить в&nbsp;единую систему без потери эстетики и&nbsp;герметичности.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Персонализация под&nbsp;задачи и пространство</p>
        <div class="reasons__content">
          <p>Разные форматы установки&nbsp;— примыкающая, отдельностоящая или модульная. Гибкость размеров, цветов, вариантов управления и&nbsp;оснащения&nbsp;— под ваши потребности и&nbsp;стиль.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
