<section class="solutions">
  <div class="container">
    <h2 class="solutions__title title title--light title--shift">Биоклиматическая пергола, которая <span class="title-accent">развивается вместе</span> с&nbsp;вашим образом жизни</h2>
    <div class="solutions__swiper-container">
      <div class="solutions__swiper" data-swiper="navigation">
        <ul class="solutions__swiper-wrapper">
          <li class="solutions__slide">
            <div class="solutions__item">
              <p class="solutions__subtitle">Одиночный модуль</p>
              <div class="solutions__img">
                <picture>
                  <source width="434" height="356" type="image/webp" media="(min-width: 768px)" srcset="img/solutions/bio-single-tablet@1x.webp 1x, img/solutions/bio-single-tablet@2x.webp 2x">
                  <source width="353" height="240" type="image/webp" srcset="img/solutions/bio-single-mobile@1x.webp 1x, img/solutions/bio-single-mobile@2x.webp 2x">
                  <source width="434" height="356" type="image/jpg" media="(min-width: 768px)" srcset="img/solutions/bio-single-tablet@1x.jpg 1x, img/solutions/bio-single-tablet@2x.jpg 2x">
                  <img src="img/solutions/bio-single-mobile@1x.jpg" srcset="img/solutions/bio-single-mobile@2x.jpg 2x" width="353" height="240" alt="Одиночный модуль">
                </picture>
              </div>
              <div class="solutions__content">
                <p>Базовая конфигурация перголы&nbsp;— прямоугольная или квадратная конструкция с&nbsp;независимой системой ламелей. Подходит для небольших террас, лаунж-зон, частных участков или уличных кафе. Может быть примыкающим или отдельно стоящим.</p>
              </div>
              <button class="solutions__callback button button--dark" type="button" aria-label="Открыть форму заявки" data-modal-button="callback" data-modal-title="request"><span>Оставить заявку</span></button>
            </div>
          </li>
          <li class="solutions__slide">
            <div class="solutions__item">
              <p class="solutions__subtitle">Линейная модульность (рядное соединение)</p>
              <div class="solutions__img">
                <picture>
                  <source width="434" height="356" type="image/webp" media="(min-width: 768px)" srcset="img/solutions/bio-connection-tablet@1x.webp 1x, img/solutions/bio-connection-tablet@2x.webp 2x">
                  <source width="353" height="240" type="image/webp" srcset="img/solutions/bio-connection-mobile@1x.webp 1x, img/solutions/bio-connection-mobile@2x.webp 2x">
                  <source width="434" height="356" type="image/jpg" media="(min-width: 768px)" srcset="img/solutions/bio-connection-tablet@1x.jpg 1x, img/solutions/bio-connection-tablet@2x.jpg 2x">
                  <img src="img/solutions/bio-connection-mobile@1x.jpg" srcset="img/solutions/bio-connection-mobile@2x.jpg 2x" width="353" height="240" alt="Линейная модульность">
                </picture>
              </div>
              <div class="solutions__content">
                <p>Несколько пергол соединяются по&nbsp;ширине или длине в&nbsp;единую линию. Используется для создания длинных навесов, галерей, зон над столами или посадочными рядами в&nbsp;ресторанах. Позволяет перекрывать большие пролёты без промежуточных стоек.</p>
              </div>
              <button class="solutions__callback button button--dark" type="button" aria-label="Открыть форму заявки" data-modal-button="callback" data-modal-title="request"><span>Оставить заявку</span></button>
            </div>
          </li>
        </ul>
        <div class="solutions__swiper-controls">
          <div class="solutions__swiper-button-container hidden">
            <button class="button-swiper button-swiper--prev" type="button">
              <span class="visually-hidden">Назад.</span>
            </button>
            <button class="button-swiper button-swiper--next" type="button">
              <span class="visually-hidden">Вперёд.</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
