<section class="reasons" data-animation>
  <div class="container">
    <h2 class="reasons__title title title--light ">Пять причин выбрать перголу с&nbsp;сэндвич-панелями</h2>
    <ul class="reasons__list">
      <li class="reasons__item">
        <p class="reasons__subtitle">Всесезонная эксплуатация</p>
        <div class="reasons__content">
          <p>Утеплённая крыша защищает от&nbsp;снега, дождя, ветра и&nbsp;палящего солнца. Пергола сохраняет комфортную температуру и&nbsp;микроклимат даже зимой&nbsp;— в&nbsp;отличие от&nbsp;сезонных решений.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Максимальная прочность и устойчивость</p>
        <div class="reasons__content">
          <p>Жёсткий каркас и&nbsp;панели с&nbsp;высокой несущей способностью выдерживают снеговую нагрузку до&nbsp;300&nbsp;кг/м&sup2; и&nbsp;порывы ветра до&nbsp;25&nbsp;м/с. Идеально подходит для суровых климатических зон России.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Готовность к&nbsp;остеклению и утеплению</p>
        <div class="reasons__content">
          <p>Такую перголу легко превратить в&nbsp;уличную комнату, закрыв её&nbsp;панорамным остеклением тёплой серии. Это даёт полный контроль над микроклиматом в&nbsp;любое время года.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Современный внешний вид</p>
        <div class="reasons__content">
          <p>Лаконичные линии, скрытые крепления, окраска в&nbsp;любой цвет по&nbsp;RAL, включая имитацию дерева&nbsp;— пергола становится естественным продолжением архитектуры дома или объекта.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Продуманность до&nbsp;деталей</p>
        <div class="reasons__content">
          <p>Интеграция освещения, климатических датчиков, обогревателей и&nbsp;автоматики. Всё&nbsp;— для максимального комфорта без лишних усилий.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
