<section class="reasons">
  <div class="container">
    <h2 class="reasons__title title title--light">Пять причин выбрать тентовую перголу</h2>
    <ul class="reasons__list">
      <li class="reasons__item">
        <p class="reasons__subtitle">Защита от&nbsp;солнца и осадков</p>
        <div class="reasons__content">
          <p>Раздвижная тканевая крыша из&nbsp;влагостойких материалов надёжно укрывает от&nbsp;солнца и&nbsp;осадков. Используем ткани с&nbsp;высоким уровнем УФ‑защиты и&nbsp;водоотталкивающей пропиткой.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Эстетика и лёгкость конструкции</p>
        <div class="reasons__content">
          <p>Минималистичный дизайн без лишней массивности. Пергола легко вписывается в&nbsp;любой архитектурный стиль&nbsp;— от&nbsp;загородного дома до&nbsp;городской террасы или ресторана.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Возможность автоматизации</p>
        <div class="reasons__content">
          <p>Крыша может управляться дистанционно&nbsp;— пультом, кнопкой или через приложение. Дополнительно можно интегрировать освещение, датчики дождя, ZIP‑экраны и&nbsp;другие «умные» опции.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Гибкость конфигураций</p>
        <div class="reasons__content">
          <p>Тентовые перголы легко адаптируются под размеры и&nbsp;форму площадки. Их&nbsp;можно установить как отдельно стоящие, так и&nbsp;примыкающие к&nbsp;зданию.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Быстрый монтаж и доступная стоимость</p>
        <div class="reasons__content">
          <p>По&nbsp;сравнению с&nbsp;другими типами пергол, тентовые устанавливаются быстрее и&nbsp;остаются оптимальными по&nbsp;бюджету&nbsp;— при сохранении качества и&nbsp;внешнего вида.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
