<section class="about" data-animation="slide-down">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__main">
        <div class="about__main-img" data-animation-el>
          <picture>
            <source width="955" height="926" type="image/webp" media="(min-width: 768px)" srcset="img/about/tent-main-tablet@1x.webp 1x, img/about/tent-main-tablet@2x.webp 2x">
            <source width="430" height="328" type="image/webp" srcset="img/about/tent-main-mobile@1x.webp 1x, img/about/tent-main-mobile@2x.webp 2x">
            <source width="955" height="926" type="image/jpg" media="(min-width: 768px)" srcset="img/about/tent-main-tablet@1x.jpg 1x, img/about/tent-main-tablet@2x.jpg 2x">
            <img src="img/about/tent-main-mobile@1x.jpg" srcset="img/about/tent-main-mobile@2x.jpg 2x" width="430" height="328" alt="Премиальные перголы">
          </picture>
        </div>
        <h2 class="about__title title">Эстетичное решение для&nbsp;террас, веранд и летних площадок с&nbsp;раздвижной тканевой крышей</h2>
      </div>
      <div class="about__content">
        <div class="about__content-video video">
          <div class="video__img">
            <picture>
              <source width="955" height="473" type="image/webp" media="(min-width: 768px)" srcset="img/about/pergola-content-tablet@1x.webp 1x, img/about/pergola-content-tablet@2x.webp 2x">
              <source width="430" height="242" type="image/webp" srcset="img/about/pergola-content-mobile@1x.webp 1x, img/about/pergola-content-mobile@2x.webp 2x">
              <source width="955" height="473" type="image/jpg" media="(min-width: 768px)" srcset="img/about/pergola-content-tablet@1x.jpg 1x, img/about/pergola-content-tablet@2x.jpg 2x">
              <img src="img/about/pergola-content-mobile@1x.jpg" srcset="img/about/pergola-content-mobile@2x.jpg 2x" width="430" height="242" alt="Премиальные перголы">
            </picture>
          </div>
          <div class="video__player">
            <video src="img/video/bio-pergola-about.mp4"></video>
          </div>
          <button class="video__button-play" type="button">
            <span class="visually-hidden">Начать воспроизведение видео.</span>
          </button>
        </div>
        <p class="about__subtitle">Пергола, которая адаптируется под&nbsp;ваш&nbsp;ритм, стиль и климат</p>
        <div class="about__content-text">
          <p>Тентовая пергола&nbsp;— это не&nbsp;просто тканевый навес, а&nbsp;продуманная архитектурная система, объединяющая эстетику, комфорт и&nbsp;технологичность. Благодаря раздвижной крыше из&nbsp;специальной влагостойкой ткани, вы&nbsp;получаете надёжную защиту от&nbsp;солнца, дождя и&nbsp;перегрева в&nbsp;дневное время, а&nbsp;вечером&nbsp;&mdash; уютное, закрытое пространство с&nbsp;возможностью подсветки, обогрева и&nbsp;остекления.</p>
          <p>Тентовая пергола создаёт ощущение лёгкости и&nbsp;уюта, оставаясь при этом надёжной и&nbsp;устойчивой к&nbsp;внешним условиям. Это идеальный выбор для тех, кто ценит свободу форм, современный подход и&nbsp;практичность в&nbsp;каждой детали.</p>
        </div>
        <button class="about__button button button--dark" type="button" aria-label="Открыть форму расчёта" data-modal-button="callback" data-modal-title="individual-calc">Получить индивидуальный расчёт</button>
      </div>
    </div>
  </div>
</section>
