<section class="cases">
  <div class="container">
    <h2 class="cases__title title title--light title--shift">Тентовая пергола под <br><span class="title-accent">любые задачи</span> и пространства</h2>
    <div class="cases__swiper-container">
      <div class="cases__swiper" data-swiper="navigation">
        <ul class="cases__swiper-wrapper">
          <li class="cases__slide">
            <div class="cases__item">
              <div class="cases__main-img">
                <picture>
                  <img src="img/placeholders/placeholder.jpg" width="410" height="399" alt="">
                </picture>
              </div>
              <div class="cases__content-wrapper">
                <div class="cases__content">
                  <p class="cases__subtitle">Примыкающая к&nbsp;стене плоская</p>
                  <div class="cases__text">
                    <p>Пергола крепится одной стороной к&nbsp;фасаду здания. Отличный выбор для террас, кафе, веранд и&nbsp;частных домов&nbsp;— создаёт защищённую зону отдыха у&nbsp;стены.</p>
                  </div>
                </div>
                <div class="cases__img">
                  <picture>
                    <img src="img/placeholders/placeholder.jpg" width="410" height="399" alt="">
                  </picture>
                </div>
                <div class="cases__img">
                  <picture>
                    <img src="img/placeholders/placeholder.jpg" width="410" height="399" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </li>
          <li class="cases__slide">
            <div class="cases__item">
              <div class="cases__main-img">
                <picture>
                  <img src="img/placeholders/placeholder.jpg" width="410" height="399" alt="">
                </picture>
              </div>
              <div class="cases__content-wrapper">
                <div class="cases__content">
                  <p class="cases__subtitle">Примыкающая к&nbsp;стене изогнутая</p>
                  <div class="cases__text">
                    <p>Пергола крепится одной стороной к&nbsp;фасаду здания. Отличный выбор для террас, кафе, веранд и&nbsp;частных домов&nbsp;— создаёт защищённую зону отдыха у&nbsp;стены.</p>
                  </div>
                </div>
                <div class="cases__img">
                  <picture>
                    <img src="img/placeholders/placeholder.jpg" width="410" height="399" alt="">
                  </picture>
                </div>
                <div class="cases__img">
                  <picture>
                    <img src="img/placeholders/placeholder.jpg" width="410" height="399" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="cases__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
