<section class="hero hero--type">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title title title--h1">Тентовая пергола</h1>
        <p class="hero__text">Установка тентовой перголы в&nbsp;Москве <br>и Московской&nbsp;области <br>по&nbsp;индивидуальному дизайну</p>
        <div class="hero__img">
          <picture>
            <source width="1920" height="1080" type="image/webp" media="(min-width: 768px)" srcset="img/hero/hero-tent-tablet@1x.webp 1x, img/hero/hero-tent-tablet@2x.webp 2x">
            <source width="768" height="656" type="image/webp" srcset="img/hero/hero-tent-mobile@1x.webp 1x, img/hero/hero-tent-mobile@2x.webp 2x">
            <source width="1920" height="1080" type="image/jpg" media="(min-width: 768px)" srcset="img/hero/hero-tent-tablet@1x.jpg 1x, img/hero/hero-tent-tablet@2x.jpg 2x">
            <img src="img/hero/hero-tent-mobile@1x.jpg" srcset="img/hero/hero-tent-mobile@2x.jpg 2x" width="768" height="656" alt="Премиальные перголы">
          </picture>
        </div>
        <ol class="hero__breadcrumbs breadcrumbs">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link">Тентовая пергола</span>
          </li>
        </ol>
        <button class="hero__callback button" type="button" aria-label="Открыть форму и заказать бесплатную консультацию" data-modal-button="callback">Заказать бесплатную консультацию</button>
        <p class="hero__name">Luxsunlife</p>
      </div>
    </div>
  </div>
</section>
