<section class="variants">
  <div class="container">
    <h2 class="variants__title title title--shift">Тентовая пергола в&nbsp;вашем цвете&nbsp;— <span class="title-accent">без&nbsp;компромиссов и ограничений</span></h2>
    <div class="variants__tabs tabs">
      <div class="variants__tabs-wrapper">
        <ul class="variants__tablinks tabs__tablinks">
          <li class="variants__tablinks-item">
            <button class="variants__tablink tabs__tablink tabs__tablink--active" data-tab="metal" type="button">Металл</button>
          </li>
          <li class="variants__tablinks-item">
            <button class="variants__tablink tabs__tablink" data-tab="silver" type="button">Серебро</button>
          </li>
          <li class="variants__tablinks-item">
            <button class="variants__tablink tabs__tablink" data-tab="orange" type="button">Оранжевый</button>
          </li>
          <li class="variants__tablinks-item">
            <button class="variants__tablink tabs__tablink" data-tab="white" type="button">Кристально белый</button>
          </li>
          <li class="variants__tablinks-item">
            <button class="variants__tablink tabs__tablink" data-tab="wood" type="button">Под дерево</button>
          </li>
        </ul>
      </div>
      <div class="variants__tabcontents tabs__tabcontents">
        <div class="variants__tabcontent tabs__tabcontent tabs__tabcontent--active" data-tab-content="metal">
          <div class="variants__img">
            <picture>
              <source width="1880" height="848" type="image/webp" media="(min-width: 768px)" srcset="img/variants/tent-metal-tablet@1x.webp 1x, img/variants/tent-metal-tablet@2x.webp 2x">
              <source width="410" height="295" type="image/webp" srcset="img/variants/tent-metal-mobile@1x.webp 1x, img/variants/tent-metal-mobile@2x.webp 2x">
              <source width="1880" height="848" type="image/jpg" media="(min-width: 768px)" srcset="img/variants/tent-metal-tablet@1x.jpg 1x, img/variants/tent-metal-tablet@2x.jpg 2x">
              <img src="img/variants/tent-metal-mobile@1x.jpg" srcset="img/variants/tent-metal-mobile@2x.jpg 2x" width="410" height="295" alt="Премиальные перголы">
            </picture>
          </div>
        </div>
        <div class="variants__tabcontent tabs__tabcontent" data-tab-content="silver">
          <div class="variants__img">
            <picture>
              <source width="1880" height="848" type="image/webp" media="(min-width: 768px)" srcset="img/variants/tent-silver-tablet@1x.webp 1x, img/variants/tent-silver-tablet@2x.webp 2x">
              <source width="410" height="295" type="image/webp" srcset="img/variants/tent-silver-mobile@1x.webp 1x, img/variants/tent-silver-mobile@2x.webp 2x">
              <source width="1880" height="848" type="image/jpg" media="(min-width: 768px)" srcset="img/variants/tent-silver-tablet@1x.jpg 1x, img/variants/tent-silver-tablet@2x.jpg 2x">
              <img src="img/variants/tent-silver-mobile@1x.jpg" srcset="img/variants/tent-silver-mobile@2x.jpg 2x" width="410" height="295" alt="Премиальные перголы">
            </picture>
          </div>
        </div>
        <div class="variants__tabcontent tabs__tabcontent" data-tab-content="orange">
          <div class="variants__img">
            <picture>
              <source width="1880" height="848" type="image/webp" media="(min-width: 768px)" srcset="img/variants/tent-orange-tablet@1x.webp 1x, img/variants/tent-orange-tablet@2x.webp 2x">
              <source width="410" height="295" type="image/webp" srcset="img/variants/tent-orange-mobile@1x.webp 1x, img/variants/tent-orange-mobile@2x.webp 2x">
              <source width="1880" height="848" type="image/jpg" media="(min-width: 768px)" srcset="img/variants/tent-orange-tablet@1x.jpg 1x, img/variants/tent-orange-tablet@2x.jpg 2x">
              <img src="img/variants/tent-orange-mobile@1x.jpg" srcset="img/variants/tent-orange-mobile@2x.jpg 2x" width="410" height="295" alt="Премиальные перголы">
            </picture>
          </div>
        </div>
        <div class="variants__tabcontent tabs__tabcontent" data-tab-content="white">
          <div class="variants__img">
            <picture>
              <source width="1880" height="848" type="image/webp" media="(min-width: 768px)" srcset="img/variants/tent-white-tablet@1x.webp 1x, img/variants/tent-white-tablet@2x.webp 2x">
              <source width="410" height="295" type="image/webp" srcset="img/variants/tent-white-mobile@1x.webp 1x, img/variants/tent-white-mobile@2x.webp 2x">
              <source width="1880" height="848" type="image/jpg" media="(min-width: 768px)" srcset="img/variants/tent-white-tablet@1x.jpg 1x, img/variants/tent-white-tablet@2x.jpg 2x">
              <img src="img/variants/tent-white-mobile@1x.jpg" srcset="img/variants/tent-white-mobile@2x.jpg 2x" width="410" height="295" alt="Премиальные перголы">
            </picture>
          </div>
        </div>
        <div class="variants__tabcontent tabs__tabcontent" data-tab-content="wood">
          <div class="variants__img">
            <picture>
              <source width="1880" height="848" type="image/webp" media="(min-width: 768px)" srcset="img/variants/tent-wood-tablet@1x.webp 1x, img/variants/tent-wood-tablet@2x.webp 2x">
              <source width="410" height="295" type="image/webp" srcset="img/variants/tent-wood-mobile@1x.webp 1x, img/variants/tent-wood-mobile@2x.webp 2x">
              <source width="1880" height="848" type="image/jpg" media="(min-width: 768px)" srcset="img/variants/tent-wood-tablet@1x.jpg 1x, img/variants/tent-wood-tablet@2x.jpg 2x">
              <img src="img/variants/tent-wood-mobile@1x.jpg" srcset="img/variants/tent-wood-mobile@2x.jpg 2x" width="410" height="295" alt="Премиальные перголы">
            </picture>
          </div>
        </div>
      </div>
      <button class="variants__callback button button--dark" type="button" aria-label="Открыть форму и задать вопрос" data-modal-button="callback" data-modal-title="design"><span>Заказать проект</span></button>
    </div>
  </div>
</section>
