<section class="cases">
  <div class="container">
    <h2 class="cases__title title title--light title--shift">Тентовая пергола <span class="title-accent">под <br>любые задачи и пространства</span></h2>
    <div class="cases__swiper-container">
      <div class="cases__swiper" data-swiper="navigation">
        <ul class="cases__swiper-wrapper">
          <li class="cases__slide">
            <div class="cases__item">
              <div class="cases__main-img">
                <picture>
                  <source width="955" height="926" type="image/webp" media="(min-width: 768px)" srcset="img/about/bio-main-tablet@1x.webp 1x, img/about/bio-main-tablet@2x.webp 2x">
                  <source width="430" height="328" type="image/webp" srcset="img/about/bio-main-mobile@1x.webp 1x, img/about/bio-main-mobile@2x.webp 2x">
                  <source width="955" height="926" type="image/jpg" media="(min-width: 768px)" srcset="img/about/bio-main-tablet@1x.jpg 1x, img/about/bio-main-tablet@2x.jpg 2x">
                  <img src="img/about/bio-main-mobile@1x.jpg" srcset="img/about/bio-main-mobile@2x.jpg 2x" width="430" height="328" alt="Премиальные перголы">
                </picture>
              </div>
              <div class="cases__content-wrapper">
                <div class="cases__content">
                  <p class="cases__subtitle">Примыкающая к&nbsp;стене плоская</p>
                  <div class="cases__text">
                    <p>Пергола крепится одной стороной к&nbsp;фасаду здания. Отличный выбор для террас, кафе, веранд и&nbsp;частных домов&nbsp;— создаёт защищённую зону отдыха у&nbsp;стены.</p>
                  </div>
                </div>
                <div class="cases__img">
                  <picture>
                    <source width="955" height="473" type="image/webp" media="(min-width: 768px)" srcset="img/about/pergola-content-tablet@1x.webp 1x, img/about/pergola-content-tablet@2x.webp 2x">
                    <source width="430" height="242" type="image/webp" srcset="img/about/pergola-content-mobile@1x.webp 1x, img/about/pergola-content-mobile@2x.webp 2x">
                    <source width="955" height="473" type="image/jpg" media="(min-width: 768px)" srcset="img/about/pergola-content-tablet@1x.jpg 1x, img/about/pergola-content-tablet@2x.jpg 2x">
                    <img src="img/about/pergola-content-mobile@1x.jpg" srcset="img/about/pergola-content-mobile@2x.jpg 2x" width="430" height="242" alt="Премиальные перголы">
                  </picture>
                </div>
                <div class="cases__img">
                  <picture>
                    <source width="955" height="926" type="image/webp" media="(min-width: 768px)" srcset="img/about/tent-main-tablet@1x.webp 1x, img/about/tent-main-tablet@2x.webp 2x">
                    <source width="430" height="328" type="image/webp" srcset="img/about/tent-main-mobile@1x.webp 1x, img/about/tent-main-mobile@2x.webp 2x">
                    <source width="955" height="926" type="image/jpg" media="(min-width: 768px)" srcset="img/about/tent-main-tablet@1x.jpg 1x, img/about/tent-main-tablet@2x.jpg 2x">
                    <img src="img/about/tent-main-mobile@1x.jpg" srcset="img/about/tent-main-mobile@2x.jpg 2x" width="430" height="328" alt="Премиальные перголы">
                  </picture>
                </div>
              </div>
            </div>
          </li>
          <li class="cases__slide">
            <div class="cases__item">
              <div class="cases__main-img">
                <picture>
                  <source width="955" height="926" type="image/webp" media="(min-width: 768px)" srcset="img/about/winter-main-tablet@1x.webp 1x, img/about/winter-main-tablet@2x.webp 2x">
                  <source width="430" height="328" type="image/webp" srcset="img/about/winter-main-mobile@1x.webp 1x, img/about/winter-main-mobile@2x.webp 2x">
                  <source width="955" height="926" type="image/jpg" media="(min-width: 768px)" srcset="img/about/winter-main-tablet@1x.jpg 1x, img/about/winter-main-tablet@2x.jpg 2x">
                  <img src="img/about/winter-main-mobile@1x.jpg" srcset="img/about/winter-main-mobile@2x.jpg 2x" width="430" height="328" alt="Премиальные перголы">
                </picture>
              </div>
              <div class="cases__content-wrapper">
                <div class="cases__content">
                  <p class="cases__subtitle">Примыкающая к&nbsp;стене изогнутая</p>
                  <div class="cases__text">
                    <p>Пергола крепится одной стороной к&nbsp;фасаду здания. Отличный выбор для террас, кафе, веранд и&nbsp;частных домов&nbsp;— создаёт защищённую зону отдыха у&nbsp;стены.</p>
                  </div>
                </div>
                <div class="cases__img">
                  <picture>
                    <source width="955" height="926" type="image/webp" media="(min-width: 768px)" srcset="img/about/sandwich-main-tablet@1x.webp 1x, img/about/sandwich-main-tablet@2x.webp 2x">
                    <source width="430" height="328" type="image/webp" srcset="img/about/sandwich-main-mobile@1x.webp 1x, img/about/sandwich-main-mobile@2x.webp 2x">
                    <source width="955" height="926" type="image/jpg" media="(min-width: 768px)" srcset="img/about/sandwich-main-tablet@1x.jpg 1x, img/about/sandwich-main-tablet@2x.jpg 2x">
                    <img src="img/about/sandwich-main-mobile@1x.jpg" srcset="img/about/sandwich-main-mobile@2x.jpg 2x" width="430" height="328" alt="Премиальные перголы">
                  </picture>
                </div>
                <div class="cases__img">
                  <picture>
                    <source width="955" height="926" type="image/webp" media="(min-width: 768px)" srcset="img/about/bio-main-tablet@1x.webp 1x, img/about/bio-main-tablet@2x.webp 2x">
                    <source width="430" height="328" type="image/webp" srcset="img/about/bio-main-mobile@1x.webp 1x, img/about/bio-main-mobile@2x.webp 2x">
                    <source width="955" height="926" type="image/jpg" media="(min-width: 768px)" srcset="img/about/bio-main-tablet@1x.jpg 1x, img/about/bio-main-tablet@2x.jpg 2x">
                    <img src="img/about/bio-main-mobile@1x.jpg" srcset="img/about/bio-main-mobile@2x.jpg 2x" width="430" height="328" alt="Премиальные перголы">
                  </picture>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="cases__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
