<section class="reasons" data-animation>
  <div class="container">
    <h2 class="reasons__title title title--light ">Три причины сделать зимний сад</h2>
    <ul class="reasons__list">
      <li class="reasons__item">
        <p class="reasons__subtitle">Круглогодичное использование</p>
        <div class="reasons__content">
          <p>Зимний сад защищён от&nbsp;холода, ветра и&nbsp;осадков. Благодаря остеклению и&nbsp;утеплению, в&nbsp;нём комфортно и&nbsp;летом, и&nbsp;зимой&nbsp;— независимо от&nbsp;погоды.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Индивидуальный дизайн и архитектурная интеграция</p>
        <div class="reasons__content">
          <p>Зимний сад проектируется под конкретный объект: форма, размеры, цвет, тип остекления&nbsp;— всё адаптируется под фасад дома или стиль участка.</p>
        </div>
      </li>
      <li class="reasons__item">
        <p class="reasons__subtitle">Функциональность и уют без перепланировки</p>
        <div class="reasons__content">
          <p>Не&nbsp;требует капитального строительства. Зимний сад можно установить на&nbsp;террасу, пристроить к&nbsp;дому или сделать как отдельное помещение&nbsp;— с&nbsp;освещением, отоплением и&nbsp;даже озеленением.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
