<section class="variants">
  <div class="container">
    <h2 class="variants__title title title--shift">Зимний сад в&nbsp;вашем цвете&nbsp;— <span class="title-accent">без&nbsp;компромиссов и ограничений</span></h2>
    <div class="variants__tabs tabs">
      <div class="variants__tabs-wrapper">
        <ul class="variants__tablinks tabs__tablinks">
          <li class="variants__tablinks-item">
            <button class="variants__tablink tabs__tablink tabs__tablink--active" data-tab="metal" type="button">Металл</button>
          </li>
          <li class="variants__tablinks-item">
            <button class="variants__tablink tabs__tablink" data-tab="silver" type="button">Серебро</button>
          </li>
          <li class="variants__tablinks-item">
            <button class="variants__tablink tabs__tablink" data-tab="red" type="button">Оранжевый</button>
          </li>
          <li class="variants__tablinks-item">
            <button class="variants__tablink tabs__tablink" data-tab="blue" type="button">Синий</button>
          </li>
        </ul>
      </div>
      <div class="variants__tabcontents tabs__tabcontents">
        <div class="variants__tabcontent tabs__tabcontent tabs__tabcontent--active" data-tab-content="metal">
          <div class="variants__img">
            <picture>
              <source width="1880" height="848" type="image/webp" media="(min-width: 768px)" srcset="img/variants/winter-metal-tablet@1x.webp 1x, img/variants/winter-metal-tablet@2x.webp 2x">
              <source width="410" height="295" type="image/webp" srcset="img/variants/winter-metal-mobile@1x.webp 1x, img/variants/winter-metal-mobile@2x.webp 2x">
              <source width="1880" height="848" type="image/jpg" media="(min-width: 768px)" srcset="img/variants/winter-metal-tablet@1x.jpg 1x, img/variants/winter-metal-tablet@2x.jpg 2x">
              <img src="img/variants/winter-metal-mobile@1x.jpg" srcset="img/variants/winter-metal-mobile@2x.jpg 2x" width="410" height="295" alt="Премиальные перголы">
            </picture>
          </div>
        </div>
        <div class="variants__tabcontent tabs__tabcontent" data-tab-content="silver">
          <div class="variants__img">
            <picture>
              <source width="1880" height="848" type="image/webp" media="(min-width: 768px)" srcset="img/variants/winter-silver-tablet@1x.webp 1x, img/variants/winter-silver-tablet@2x.webp 2x">
              <source width="410" height="295" type="image/webp" srcset="img/variants/winter-silver-mobile@1x.webp 1x, img/variants/winter-silver-mobile@2x.webp 2x">
              <source width="1880" height="848" type="image/jpg" media="(min-width: 768px)" srcset="img/variants/winter-silver-tablet@1x.jpg 1x, img/variants/winter-silver-tablet@2x.jpg 2x">
              <img src="img/variants/winter-silver-mobile@1x.jpg" srcset="img/variants/winter-silver-mobile@2x.jpg 2x" width="410" height="295" alt="Премиальные перголы">
            </picture>
          </div>
        </div>
        <div class="variants__tabcontent tabs__tabcontent" data-tab-content="red">
          <div class="variants__img">
            <picture>
              <source width="1880" height="848" type="image/webp" media="(min-width: 768px)" srcset="img/variants/winter-red-tablet@1x.webp 1x, img/variants/winter-red-tablet@2x.webp 2x">
              <source width="410" height="295" type="image/webp" srcset="img/variants/winter-red-mobile@1x.webp 1x, img/variants/winter-red-mobile@2x.webp 2x">
              <source width="1880" height="848" type="image/jpg" media="(min-width: 768px)" srcset="img/variants/winter-red-tablet@1x.jpg 1x, img/variants/winter-red-tablet@2x.jpg 2x">
              <img src="img/variants/winter-red-mobile@1x.jpg" srcset="img/variants/winter-red-mobile@2x.jpg 2x" width="410" height="295" alt="Премиальные перголы">
            </picture>
          </div>
        </div>
        <div class="variants__tabcontent tabs__tabcontent" data-tab-content="blue">
          <div class="variants__img">
            <picture>
              <source width="1880" height="848" type="image/webp" media="(min-width: 768px)" srcset="img/variants/winter-blue-tablet@1x.webp 1x, img/variants/winter-blue-tablet@2x.webp 2x">
              <source width="410" height="295" type="image/webp" srcset="img/variants/winter-blue-mobile@1x.webp 1x, img/variants/winter-blue-mobile@2x.webp 2x">
              <source width="1880" height="848" type="image/jpg" media="(min-width: 768px)" srcset="img/variants/winter-blue-tablet@1x.jpg 1x, img/variants/winter-blue-tablet@2x.jpg 2x">
              <img src="img/variants/winter-blue-mobile@1x.jpg" srcset="img/variants/winter-blue-mobile@2x.jpg 2x" width="410" height="295" alt="Премиальные перголы">
            </picture>
          </div>
        </div>
      </div>
      <button class="variants__callback button button--dark" type="button" aria-label="Открыть форму и задать вопрос" data-modal-button="callback" data-modal-title="design">Заказать проект</button>
    </div>
  </div>
</section>
