<section class="chars">
  <div class="container">
    <h2 class="chars__title title title--light title--shift">Технические характеристики <br><span class="title-accent">зимнего сада</span></h2>
    <div class="chars__tabcontents">
      <div class="chars__tabcontent">
        <div class="chars__swiper-container">
          <div class="chars__swiper" data-swiper="navigation">
            <ul class="chars__swiper-wrapper">
              <li class="chars__slide">
                <div class="chars__item">
                  <div class="chars__img">
                    <picture>
                      <source width="722" height="572" type="image/webp" media="(min-width: 768px)" srcset="img/chars/aluminum-tablet@1x.webp 1x, img/chars/aluminum-tablet@2x.webp 2x">
                      <source width="409" height="396" type="image/webp" srcset="img/chars/aluminum-mobile@1x.webp 1x, img/chars/aluminum-mobile@2x.webp 2x">
                      <source width="722" height="572" type="image/jpg" media="(min-width: 768px)" srcset="img/chars/aluminum-tablet@1x.jpg 1x, img/chars/aluminum-tablet@2x.jpg 2x">
                      <img src="img/chars/aluminum-mobile@1x.jpg" srcset="img/chars/aluminum-mobile@2x.jpg 2x" width="409" height="396" alt="Премиальные перголы">
                    </picture>
                  </div>
                  <dl class="chars__details">
                    <div>
                      <dt>Тип конструкции</dt>
                      <dd>Примыкающая&nbsp;/ Отдельностоящая&nbsp;/ На&nbsp;существующий каркас&nbsp;/ Подвесная</dd>
                    </div>
                    <div>
                      <dt>Максимальная ширина (пролёт)</dt>
                      <dd>до&nbsp;~&nbsp;14,0&nbsp;м (в&nbsp;единичном модуле)</dd>
                    </div>
                    <div>
                      <dt>Максимальный вынос (глубина)</dt>
                      <dd>~&nbsp;6,0–7,0&nbsp;м</dd>
                    </div>
                    <div>
                      <dt>Максимальная высота</dt>
                      <dd>~&nbsp;2,5‑3,0&nbsp;м</dd>
                    </div>
                    <div>
                      <dt>Моторизация</dt>
                      <dd>Электродвигатель (например, Somfy или аналогичный) для движения тента по&nbsp;направляющим</dd>
                    </div>
                    <div>
                      <dt>Дистанционное управление</dt>
                      <dd>Пульт, настенная панель, возможна интеграция с&nbsp;системой “умного дома”</dd>
                    </div>
                    <div>
                      <dt>Система водоотведения</dt>
                      <dd>Встроенные лотки или каналы в&nbsp;каркасе / колоннах для отвода воды</dd>
                    </div>
                  </dl>
                  <div class="chars__bottom">
                    <p class="chars__cost-title">Стоимость</p>
                    <p class="chars__cost">от&nbsp;100&nbsp;000&nbsp;₽</p>
                    <button class="chars__callback button" type="button" aria-label="Открыть форму заявки" data-modal-button="callback" data-modal-title="cost">Узнать точную цену</button>
                  </div>
                </div>
              </li>
            </ul>
            <div class="chars__swiper-controls">
              <p class="chars__swiper-progress swiper-progress"></p>
              <div class="chars__swiper-button-container hidden">
                <button class="button-swiper button-swiper--prev" type="button">
                  <span class="visually-hidden">Назад.</span>
                </button>
                <button class="button-swiper button-swiper--next" type="button">
                  <span class="visually-hidden">Вперёд.</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chars__name">
      <p>Luxsunlife</p>
    </div>
  </div>
</section>
