<div class="hero hero--second">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <p class="hero__title title title--h1">Создайте уютное пространство с&nbsp;помощью наших уникальных пергол</p>
        <p class="hero__text">Стильные перголы, которые не&nbsp;только защищают от&nbsp;солнца и&nbsp;непогоды, но&nbsp;и&nbsp;добавляют функциональности и&nbsp;элегантности</p>
        <div class="hero__img">
          <picture>
            <source width="1920" height="1080" type="image/webp" media="(min-width: 768px)" srcset="img/hero/hero-works-tablet@1x.webp 1x, img/hero/hero-works-tablet@2x.webp 2x">
            <source width="768" height="656" type="image/webp" srcset="img/hero/hero-works-mobile@1x.webp 1x, img/hero/hero-works-mobile@2x.webp 2x">
            <source width="1920" height="1080" type="image/jpg" media="(min-width: 768px)" srcset="img/hero/hero-works-tablet@1x.jpg 1x, img/hero/hero-works-tablet@2x.jpg 2x">
            <img src="img/hero/hero-works-mobile@1x.jpg" srcset="img/hero/hero-works-mobile@2x.jpg 2x" width="768" height="656" alt="Премиальные перголы">
          </picture>
        </div>
        <button class="hero__callback button" type="button" aria-label="Открыть форму и заказать бесплатную консультацию" data-modal-button="callback"><span>Заказать бесплатную консультацию</span></button>
        <p class="hero__name">Luxsunlife</p>
        <ol class="hero__breadcrumbs breadcrumbs">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link">Наши работы</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
