@use "index" as *;

.breadcrumbs {
  margin: 0 0 14px;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
  line-height: 1.2;
}

.breadcrumbs__item {
  position: relative;
  display: inline;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 2px;

  @include vp-768 {
    margin-right: 3px;
  }

  @include vp-1024 {
    margin-right: 5px;
  }

  &::after {
    position: absolute;
    right: -2px;
    content: "/";
    font-weight: 400;
    font-size: 14px;
    color: var(--grey);

    @include vp-768 {
      right: -3px;
      font-size: 18px;
    }

    @include vp-768 {
      right: -4px;
      font-size: 20px;
    }
  }
}

.breadcrumbs__link {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 1.2;
  color: var(--grey);

  @include vp-768 {
    font-size: 18px;
  }

  @include vp-1024 {
    font-size: 20px;
  }
}

a.breadcrumbs__link {
  @include interactive-link-dark;
}

span.breadcrumbs__link {
  color: var(--text-basic);
}
