@use "index" as *;

.button {
  @include link-with-arrow;
  @include interactive-button;

  --color: var(--white);

  box-sizing: border-box;
  position: relative;
  max-width: 500px;
  padding: 8px 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.03em;
  line-height: 1.2;
  color: var(--color);
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: var(--transparent);
  cursor: pointer;

  @include vp-768 {
    max-width: unset;
    font-size: 14px;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--color);
    transition: background-color 0.3s;
  }

  &::after {
    background-color: var(--color);
  }

  &--dark {
    --color: var(--text-dark);
  }

  // &--disabled {
  //   background-color: var(--grey-middle);
  //   color: var(--grey-extra-light);
  //   cursor: default;
  //   pointer-events: none;
  // }
}
