@use "index" as *;

.button {
  @include interactive-button;

  --color: var(--white);

  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: start;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.03em;
  line-height: 1.2;
  color: var(--color);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: var(--transparent);
  cursor: pointer;

  @include vp-1024 {
    font-size: 14px;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--color);
  }

  &::after {
    grid-area: 1 / 2 / 2 / 3;
    content: "";
    width: 10px;
    height: 9px;
    mask-image: url("../img/sprite.svg#arrow");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center center;
    background-color: var(--color);
  }

  &--disabled {
    background-color: var(--grey-middle);
    color: var(--grey-extra-light);
    cursor: default;
    pointer-events: none;
  }
}
