@use "index" as *;

.modal {
  position: fixed;
  box-sizing: border-box;
  overflow-y: auto;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.8);
  visibility: hidden;
  opacity: 0;
  z-index: var(--z-modal);

  &.open {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.4s, opacity 0.4s;
  }

  &__container {
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 20px);
    padding: 10px;
    margin: auto;
    color: var(--text-dark);
    background-color: var(--bg-light);

    @include vp-768 {
      max-width: 680px;
      padding: 30px;
    }
  }

  &__close-button {
    @include interactive-opacity;
    @include close-button;

    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;

    @include vp-1366 {
      width: 50px;
      height: 50px;
    }

    &::before,
    &::after {
      width: 25px;
      background-color: var(--text-dark);

      @include vp-1366 {
        width: 35px;
      }
    }
  }
}

// модальное окно с полноразмерным изображением

.modal-photo {
  &__container {
    padding: 0;

    @include vp-768 {
      max-width: calc(100% - 200px);
      padding: 0;
    }

    @include vp-1024 {
      max-width: calc(100% - 300px);
      padding: 0;
    }

    @include vp-1640 {
      max-width: 1280px;
    }
  }

  .modal__close-button {

    &::before,
    &::after {
      background-color: var(--white);
    }
  }

  &__img {
    width: 100%;
    max-width: 1280px;
    max-height: 720px;
    aspect-ratio: 1280 / 720;
    margin: 0 auto;
    opacity: 0;
    transform: scale(0.6);
    transition: transform 0.6s 0.1s, opacity 0.6s 0.1s;

    img {
      @include img-cover;
    }
  }
}

.modal.open .modal-photo__img {
  opacity: 1;
  transform: scale(1);
}

// стардартное модальное окно

.modal-standard {
  &__container {
    padding: 20px 10px 10px;

    @include vp-1366 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto 50px 1fr;
      align-items: end;
      gap: 10px;
      max-width: 1280px;
      min-height: 650px;
      box-sizing: border-box;
      padding: 46px 20px 20px;
    }

    @include vp-1920 {
      grid-template-rows: auto auto 87px 1fr;
      max-width: 1360px;
      min-height: 710px;
    }
  }

  &__title {
    margin: 0 50px 28px 0;

    @include vp-1366 {
      grid-column: 1 / -1;
      margin: 0 50px 0 0;
      font-size: 32px;
    }

    @include vp-1920 {
      font-size: 36px;
    }
  }

  &__description {
    margin: 0 0 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--text-light);

    @include vp-1366 {
      align-self: start;
      margin: 0;
      font-size: 12px;
    }
  }

  &__form {
    margin: 0 0 28px;

    @include vp-1366 {
      grid-area: 2 / 3 / 4 / 5;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 10px;
      margin: 0;
    }
  }

  &__field {
    @include input;

    @include vp-1366 {
      --font-size: 12px;
    }

    &--wide {
      @include vp-1366 {
        grid-column: 1 / 3;
      }
    }

    input {
      width: 100%;
    }
  }

  &__form-bottom {
    @include vp-1366 {
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: auto 240px;
      align-items: center;
      gap: 10px;
    }

    @include vp-1920 {
      grid-template-columns: auto 264px;
    }
  }

  &__accept {
    @include accept;

    margin: 20px 0;

    @include vp-1366 {
      margin: 0;
    }

    span {
      @include vp-1366 {
        font-size: 12px;
      }
    }
  }

  &__form-button {
    width: 100%;
    font-size: 14px;
  }

  &__images {
    margin: 0 0 28px;

    @include vp-1366 {
      grid-area: 3 / 1 / 5 / 5;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 50px 1fr;
      align-items: end;
      gap: 10px;
      margin: 0;
    }

    @include vp-1920 {
      grid-template-rows: 87px 1fr;
    }
  }

  &__img {
    display: none;
    position: relative;
    width: 100%;

    @include vp-1366 {
      display: block;
      grid-row: 2 / 3;
    }

    &:first-child {
      display: block;
      height: 304px;

      @include vp-1366 {
        grid-row: 1 / 3;
        height: unset;
        aspect-ratio: 322 / 451;
      }
    }

    &:nth-child(2) {
      aspect-ratio: 321 / 189;
    }

    &:nth-child(3) {
      aspect-ratio: 322 / 345;
    }

    &:nth-child(4) {
      aspect-ratio: 321 / 303;
    }

    img {
      @include img-bg;
    }
  }

  &__name {
    @include name-full-width;

    --color: var(--text-dark);

    font-size: calc(45px / $vp-430 * 100vw);

    @include vp-768 {
      font-size: 74px;
    }

    @include vp-1366 {
      display: none;
    }
  }
}

// модальное окно с карточкой перголы

.modal-project {
  &__container {
    padding: 20px 10px 30px;
    color: var(--white);
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-light);

    @include vp-1366 {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: min-content auto;
      gap: 10px;
      max-width: 1280px;
      min-height: 650px;
    }

    @include vp-1640 {
      width: calc(100% - 70px);
      max-width: 1850px;
      min-height: 850px;
      padding: 40px 20px 20px;
    }

    @include vp-1920 {
      min-height: 910px;
    }
  }

  .modal__close-button {

    &::before,
    &::after {
      background-color: var(--white);
    }
  }

  &__title {
    margin: 0 50px 10px 0;

    @include vp-768 {
      font-size: 22px;
    }

    @include vp-1366 {
      grid-column: 1 / 3;
      margin: 0 50px 30px 0;
      font-size: 32px;
    }

    @include vp-1920 {
      font-size: 36px;
    }
  }

  &__swiper-container {
    @include vp-1366 {
      grid-area: 2 / 1 / 4 / 2;
    }
  }

  &__swiper {
    @include vp-1366 {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: 1fr auto;
      height: 100%;
    }
  }

  &__swiper-wrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__slide {
    @include slide-layout;

    @include vp-1366 {
      height: 100%;
    }
  }

  &__item {
    @include slide-container;
  }

  &__img {
    position: relative;
    width: 100%;
    aspect-ratio: 390 / 252;

    @include vp-550 {
      height: 320px;
      aspect-ratio: unset;
    }

    @include vp-1366 {
      height: 100%;
    }

    img {
      @include img-bg;

      @include vp-1366 {
        @include img-cover;
      }
    }
  }

  &__swiper-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 20px 0 5px;

    @include vp-1920 {
      margin: 40px 0 5px;
    }
  }

  &__swiper-progress {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 1;

    @include vp-1024 {
      margin: 0;
    }
  }

  &__swiper-button-container {
    @include swiper-button-position;

    &.hidden {
      display: none;
    }
  }

  &__details {
    margin: 0 0 20px;

    @include vp-1366 {
      align-self: start;
      margin: 0 0 30px;
    }

    div {
      padding: 20px 0;
      border-bottom: 1px solid var(--text-grey);

      @include vp-1366 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
        align-items: start;
      }

      @include vp-1640 {
        grid-template-columns: repeat(2, 1fr);
      }

      &:first-child {
        @include vp-1366 {
          padding: 0 0 20px;
        }
      }
    }

    dt {
      margin: 0 0 20px;
      font-weight: 500;
      font-size: 18px;
      color: var(--text-grey);

      @include vp-1366 {
        margin: 0;
      }
    }

    dd {
      margin: 0;
      font-weight: 500;
      font-size: 18px;
      color: var(--white);
    }
  }

  &__form {
    @include vp-768 {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: center;
      gap: 10px 20px;
    }

    @include vp-1366 {
      align-self: end;
      margin: 0 0 51px;
    }

    @include vp-1920 {
      grid-template-columns: 1fr 1fr 260px;
      margin: 0 0 70px;
    }
  }

  &__form-title {
    @include vp-768 {
      grid-column: 1 / -1;
      font-size: 18px;
    }

    @include vp-1366 {
      margin: 0;
    }

    @include vp-1640 {
      max-width: 730px;
      font-size: 20px;
    }

    @include vp-1920 {
      font-size: 22px;
    }
  }

  &__field {
    @include input;

    --font-size: 14px;

    max-width: 300px;

    @include vp-768 {
      max-width: unset;
    }

    &--wide {
      @include vp-768 {
        grid-column: 1 / 3;
      }
    }

    input {
      width: 100%;
      border-bottom: 1px solid var(--white);
    }
  }

  &__form-bottom {
    margin: 20px 0 0;

    @include vp-768 {
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: center;
      gap: 10px 20px;
      margin: 15px 0 0;
    }

    @include vp-1640 {
      margin: 30px 0 0;
    }

    @include vp-1920 {
      grid-column: 1 / 4;
      grid-template-columns: 1fr 1fr 260px;
      margin: 60px 0 0;
    }
  }

  &__accept {
    @include accept;

    margin: 0 0 40px;

    @include vp-768 {
      margin: 0;
    }

    @include vp-1920 {
      grid-column: 1 / 3;
      max-width: 350px;
    }

    span {
      font-size: 12px;
    }
  }

  &__form-button {
    width: 100%;
    font-size: 14px;

    @include vp-1640 {
      align-self: end;
    }
  }
}

// модальное окно с предложением подписки

.modal-subscribe {
  &__container {
    display: grid;
    padding: 20px 0 0;

    @include vp-1024 {
      grid-template-rows: min-content min-content auto 40px 1fr;
      max-width: 774px;
      padding: 30px 0 0;
    }
  }

  &__title {
    font-size: 14px;
    margin: 0 40px 20px;
    text-align: center;

    @include vp-768 {
      font-size: 18px;
    }

    @include vp-1024 {
      margin: 0 40px 40px;
      font-size: 22px;
    }
  }

  &__social-icon {
    @include social-link;

    --color: var(--text-dark);

    justify-self: center;
    margin: 0 0 8px;

    @include vp-1024 {
      width: 50px;
      height: 50px;
    }
  }

  &__link {
    width: 180px;
    margin: 0 auto;
    font-size: 12px;

    @include vp-768 {
      width: 224px;
      font-size: 14px;
    }

    @include vp-1024 {
      grid-area: 3 / 1 / 5 / 2;
      align-self: end;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: 151fr 214fr 125fr 257fr;
    align-items: end;
    gap: 0 3px;

    @include vp-1024 {
      grid-area: 4 / 1 / 6 / 2;
      grid-template-rows: 40px 1fr;
      gap: 0 9px;
    }
  }

  &__img {
    position: relative;
    width: 100%;

    @include vp-1024 {
      grid-row: 2 / 3;
    }

    &:first-child {
      aspect-ratio: 151 / 187;

      @include vp-1024 {
        grid-row: 1 / 3;
      }
    }

    &:nth-child(2) {
      aspect-ratio: 214 / 135;
    }

    &:nth-child(3) {
      aspect-ratio: 125 / 118;
    }

    &:nth-child(4) {
      aspect-ratio: 257 / 168;
    }

    img {
      @include img-bg;
    }
  }
}
