[data-animation] [data-animation-el] {
  transition: -webkit-clip-path 1.2s ease-out, clip-path 1.2s ease-out;
}

[data-animation].animated [data-animation-el] {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

[data-animation="slide-down"] [data-animation-el] {
  -webkit-clip-path: inset(0 0 100% 0);
  clip-path: inset(0 0 100% 0);
}
