@use "index" as *;

.slider-compare {
  position: relative;
}

.slider-compare__list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.slider-compare__screen {
  &--after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-light);
    clip-path: inset(0 0 0 50%);
    z-index: 1;
  }

  img {
    @include img-cover;
  }
}


.slider-compare__toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 11px;
  padding: 0;
  margin: 0;
  background-color: var(--transparent);
  border: none;
  z-index: 10;

  @include vp-430 {
    width: calc(22px / $vp-430 * 100vw);
  }

  @include vp-1024 {
    width: 34px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--white);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 22px;
    aspect-ratio: 22 / 12;
    background-image: url("../img/sprite.svg#slider-toggle");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
