@use "index" as *;

.title {
  margin: 0 0 10px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;

  font-weight: 500;
  font-variation-settings: "wdth" 200;

  @include vp-768 {
    font-size: 25px;
  }

  @include vp-1024 {
    font-size: 28px;
  }

  @include vp-1280 {
    font-size: 32px;
  }

  @include vp-1366 {
    font-size: 38px;
  }

  @include vp-1640 {
    font-size: 46px;
  }

  @include vp-1920 {
    font-size: 52px;
  }

  &--shift {
    @include vp-768 {
      text-indent: 25%;
    }
  }
}

.title-accent {
  color: var(--text-light);
}
