@use "index" as *;

.video {
  display: grid;
}

.video__img {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;

  img {
    @include img-bg;
  }
}

.video__player {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;

  video {
    @include img-cover;
  }
}

.video__button-play {
  @include video-button;
}
