@use "index" as *;

.video-fixed {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 210px;
  padding: 14px 9px;
  background-color: var(--bg-light);
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.2);
  z-index: var(--z-video-fixed);

  @include vp-1366 {
    display: block;
  }

  @include vp-1640 {
    width: 250px;
  }

  @include vp-1920 {
    width: 290px;
  }

  &.hidden {
    display: none;
  }
}

.video-fixed__close {
  @include close-button;

  position: absolute;
  top: 14px;
  right: 9px;
  z-index: 2;
}

.video-fixed__wrapper {
  margin: 0 0 10px;

  @include vp-1920 {
    margin: 0 0 14px;
  }
}

.video-fixed__img {
  aspect-ratio: 273 / 147;
}

.video-fixed__player {
  aspect-ratio: 273 / 147;

  video {
    width: 192px;
    height: auto;

    @include vp-1640 {
      width: 232px;
    }

    @include vp-1920 {
      width: 272px;
    }
  }
}

.video-fixed__button-play {
  &::after {
    left: calc(50% + 10px);
    border: 12px solid var(--transparent);
    border-left: 20px solid var(--white);
  }

  &.playing {
    &::before {
      width: 20px;
      height: 25px;
    }
  }
}

.video-fixed__text {
  max-width: 70%;
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  letter-spacing: -0.01em;

  @include vp-1920 {
    margin: 0 0 17px;
    font-size: 14px;
  }
}
