@use "index" as *;

.video {
  display: grid;
}

.video__img {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: calc(290px / $vp-430 * 100vw);

  @include vp-1024 {
    height: calc(1005px / $vp-1920 * 100vw);
  }

  @include vp-1920 {
    height: 1005px;
  }

  img {
    @include img-cover;
  }

  video {
    @include img-contain;
  }
}

.video__iframe-wrap {
  grid-area: 1 / 1 / 2 / 2;
}

.video__button-play {
  @include video-button;
}
