@use "vars" as *;

@mixin vp-430 {
  @media (min-width: $vp-430) {
    @content;
  }
}

@mixin vp-550 {
  @media (min-width: $vp-550) {
    @content;
  }
}

@mixin vp-768 {
  @media (min-width: $vp-768) {
    @content;
  }
}

@mixin vp-1024 {
  @media (min-width: $vp-1024) {
    @content;
  }
}

@mixin vp-1280 {
  @media (min-width: $vp-1280) {
    @content;
  }
}

@mixin vp-1366 {
  @media (min-width: $vp-1366) {
    @content;
  }
}

@mixin vp-1640 {
  @media (min-width: $vp-1640) {
    @content;
  }
}

@mixin vp-1920 {
  @media (min-width: $vp-1920) {
    @content;
  }
}
