@mixin hidden-left {
  visibility: hidden;
  opacity: 0;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  transition: visibility 0.3s, opacity 0.3s, -webkit-clip-path 0.4s 0.3s ease-out, clip-path 0.4s 0.3s ease-out;
}

@mixin hidden-top {
  visibility: hidden;
  opacity: 0;
  -webkit-clip-path: inset(0 0 100% 0);
  clip-path: inset(0 0 100% 0);
  transition: visibility 0.3s, opacity 0.3s, -webkit-clip-path 0.4s 0.3s ease-out, clip-path 0.4s 0.3s ease-out;
}

@mixin visible {
  visibility: visible;
  opacity: 1;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  transition: visibility 0.3s, opacity 0.3s, -webkit-clip-path 0.4s ease-out, clip-path 0.4s ease-out;
}
