@mixin img-contain {
  display: block;
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

@mixin img-cover {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  background-color: var(--text-light);
}

@mixin img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-light);
  z-index: -1;

  img {
    @include img-cover;
  }
}
