@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin focus {
  &:focus-visible {
    @content;
  }
}

@mixin active {
  &:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  &:focus-visible {
    @content;
  }
}

@mixin disabled {
  &:disabled {
    @content;
  }
}


// базовые стили состояний

@mixin interactive-button {
  transition: color 0.3s, transform 0.3s;

  @include hover-focus {
    transform: scale(1.03);
    outline: none;
  }

  @include active {
    --color: var(--text-light);
  }
}

@mixin interactive-link {
  transition: color 0.3s;

  @include hover-focus {
    --color: var(--grey-hover);

    color: var(--grey-hover);
    outline: none;
  }

  @include active {
    --color: var(--text-light);

    color: var(--text-light);
  }
}

@mixin interactive-arrow-shift {
  &::after {
    opacity: 0;
    transform: translateX(0);
  }

  @include hover-focus {
    outline: none;

    &::after {
      opacity: 1;
      transform: translateX(5px);
    }
  }
}

@mixin interactive-opacity {
  transition: opacity 0.3s;
  cursor: pointer;

  @include hover-focus {
    opacity: 0.7;
    outline: none;
  }

  @include active {
    opacity: 0.5;
  }
}
