@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin focus {
  &:focus-visible {
    @content;
  }
}

@mixin active {
  &:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  &:focus-visible {
    @content;
  }
}

@mixin disabled {
  &:disabled {
    @content;
  }
}


// базовые стили состояний

@mixin interactive-link-dark {
  transition: color 0.3s;

  @include hover-focus {
    color: var(--text-basic);
    outline: none;
  }

  @include active {
    color: var(--text-light);
  }
}

@mixin interactive-link-accent {
  transition: color 0.3s, opacity 0.3s;

  @include hover-focus {
    color: var(--bg-accent-opacity);
    opacity: 1;
    outline: none;
  }

  @include active {
    opacity: 0.7;
  }
}

@mixin interactive-link-underline-light {
  --transform: scaleX(0);

  position: relative;
  opacity: 1;
  transition: opacity 0.3s;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--white);
    transform: var(--transform);
    transition: transform 0.3s;
  }

  @include hover-focus {
    --transform: scaleX(1);

    outline: none;
  }

  @include active {
    opacity: 0.7;
  }
}

@mixin interactive-link-underline-dark {
  --transform: scaleX(0);

  position: relative;
  opacity: 1;
  transition: opacity 0.3s;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--text-basic);
    opacity: 1;
    transform: var(--transform);
    transition: transform 0.3s;
  }

  @include hover-focus {
    --transform: scaleX(1);

    outline: none;
  }

  @include active {
    opacity: 0.7;
  }
}

@mixin interactive-button {
  opacity: 1;
  transition: background-color 0.3s, opacity 0.3s;

  @include hover-focus {
    background-color: var(--bg-accent-opacity);
    outline: none;
  }

  @include active {
    opacity: 0.7;
  }

  @include disabled {
    background-color: var(--grey);
    color: var(--text-light);
    cursor: default;
    pointer-events: none;
  }
}

@mixin interactive-button-light {
  opacity: 1;
  transition: background-color 0.3s, opacity 0.3s;

  @include hover-focus {
    background-color: var(--grey);
    outline: none;
  }

  @include active {
    opacity: 0.7;
  }

  @include disabled {
    background-color: var(--grey);
    color: var(--text-light);
    cursor: default;
    pointer-events: none;
  }
}

@mixin interactive-button-dark {
  opacity: 1;
  transition: background-color 0.3s, opacity 0.3s;

  @include hover-focus {
    background-color: var(--text-light);
    outline: none;
  }

  @include active {
    opacity: 0.7;
  }

  @include disabled {
    background-color: var(--grey);
    color: var(--text-light);
    cursor: default;
    pointer-events: none;
  }
}

@mixin interactive-opacity {
  transition: opacity 0.3s;
  cursor: pointer;

  @include hover-focus {
    opacity: 0.7;
    outline: none;
  }

  @include active {
    opacity: 0.5;
  }
}
