@use "interactive-states" as *;

@mixin social-link {
  --color: var(--white);

  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: background-color 0.3s;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 100%;
    height: 100%;
    mask-image: var(--icon);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    background-color: var(--color);
    transition: background-color 0.3s;
  }

  &--rutube {
    --icon: url("../img/sprite.svg#rutube");
  }

  &--dzen {
    --icon: url("../img/sprite.svg#dzen");
  }

  &--vk {
    --icon: url("../img/sprite.svg#vk");
  }

  &--tg {
    --icon: url("../img/sprite.svg#tg");
  }

  &--youtube {
    --icon: url("../img/sprite.svg#youtube");
  }

  &--max {
    --icon: url("../img/sprite.svg#max");
  }

  &--whatsapp {
    --icon: url("../img/sprite.svg#whatsapp");
  }

  // @include hover-focus {
  //   --color: var(--bg-accent);

  //   outline: none;
  // }

  // @include active {
  //   --color: var(--bg-accent-opacity);
  // }
}

@mixin link-with-arrow {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: start;
  align-items: center;
  gap: 10px;

  &::after {
    grid-area: 1 / 2 / 2 / 3;
    content: "";
    width: 10px;
    height: 9px;
    mask-image: url("../img/sprite.svg#arrow");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center center;
    background-color: var(--white);
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
  }
}
