@use "interactive-states" as *;
@use "breakpoint" as *;

@mixin logo-image {
  display: flex;
  align-items: center;
  width: auto;
  height: 46px;

  &[href] {
    @include interactive-opacity;
  }

  img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}
