@use "breakpoint" as *;
@use "vars" as *;

@mixin name-full-width {
  --color: var(--text-full-width);

  position: relative;
  width: 100%;
  font-family: var(--font-secondary);
  font-size: calc(47px / $vp-430 * 100vw);
  line-height: 0.9;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color);
  -webkit-text-stroke: 3px var(--color);
  text-stroke: 3px var(--color);

  @include vp-1024 {
    font-size: calc(222px / $vp-1920 * 100vw);
    -webkit-text-stroke: 5px var(--color);
    text-stroke: 5px var(--color);
  }

  @include vp-1366 {
    -webkit-text-stroke: 6px var(--color);
    text-stroke: 6px var(--color);
  }

  @include vp-1640 {
    -webkit-text-stroke: 8px var(--color);
    text-stroke: 8px var(--color);
  }

  @include vp-1920 {
    font-size: 222px;
    -webkit-text-stroke: 10px var(--color);
    text-stroke: 10px var(--color);
  }

  p {
    width: fit-content;
    margin: 0 auto;
  }
}
