@use "breakpoint" as *;
@use "interactive-states" as *;

@mixin select-standard {
  position: relative;

  &-button {
    --color: var(--text-light);

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 23px;
    gap: 2px;
    width: 100%;
    padding: 18px 15px 15px 20px;
    font-weight: 400;
    font-size: 18px;
    color: var(--color);
    text-align: left;
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    transition: color 0.3s;
    cursor: pointer;

    @include vp-1366 {
      padding: 26px 40px 20px;
    }

    @include hover-focus {
      --color: var(--text-basic);

      outline: none;
    }

    @include active {
      --color: var(--grey);
    }

    @include disabled {
      --color: var(--grey-middle);

      background-color: var(--grey-light);
      cursor: default;
      pointer-events: none;
    }

    &::after {
      grid-area: 1 / 2 / 2 / 3;
      content: "";
      width: 23px;
      height: 21px;
      background-color: var(--color);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-image: url("../img/sprite.svg#select-arrow");
      mask-size: 23px 21px;
      transform: scaleY(1);
      transition: background-color 0.3s, transform 0.3s;
    }
  }

  .select__list {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    width: 100%;
    max-height: 160px;
    overflow-y: auto;
    margin: 0;
    padding: 9px 20px;
    list-style-type: none;
    background-color: var(--white);
    border-radius: 0 0 5px 5px;
    transform: scaleY(0);
    opacity: 0.7;
    transform-origin: top;
    transition: transform 0.3s, opacity 0.3s;
    z-index: 15;

    @include vp-1366 {
      padding: 9px 40px;
    }
  }

  .select__item {
    @include interactive-link-dark;

    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    color: var(--text-light);
    border: none;
    background-color: var(--transparent);
    transition: color 0.3s, opacity 0.3s;
    cursor: pointer;
  }

  &.select--open .select__button::after {
    transform: scaleY(-1);
  }

  &.select--open .select__list {
    transform: scaleY(1);
    opacity: 1;
  }
}

@mixin select-dark {
  @include select-standard;

  &-button {
    --color: var(--text-basic);

    background-color: var(--grey-extra-light);

    @include hover-focus {
      --color: var(--bg-accent);
    }

    @include active {
      --color: var(--bg-accent-opacity);
    }
  }

  .select__list {
    background-color: var(--grey-extra-light);
  }

  .select__item {
    @include interactive-link-accent;

    color: var(--text-basic);
  }
}
