@use "interactive-states" as *;
@use "breakpoint" as *;
@use "../vars" as *;

@mixin video-button {
  box-sizing: border-box;
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: var(--transparent);
  transition: background-color 0.3s;
  border: none;
  z-index: 1;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 50%;
    left: calc(50% + 3px);
    transform: translate(-50%, -50%);
    content: "";
    border: 15px solid var(--transparent);
    border-left: 25px solid var(--white);
    z-index: 2;

    @include vp-768 {
      left: calc(50% + 5px);
      border: 20px solid var(--transparent);
      border-left: 35px solid var(--white);
    }
  }

  @include hover-focus {
    background-color: var(--text-grey);
  }

  @include active {
    background-color: var(--text-extra-light);
  }
}
