@use "index" as *;

.chars {
  padding: 40px 0;
  color: var(--white);
  background-color: var(--bg-dark);
}

.chars__title {
  margin: 0 0 24px;
}

.chars__tabs {
  @include vp-1024 {
    margin: 0 0 50px;
  }

  @include vp-1640 {
    margin: 0 0 20px;
  }
}

.chars__tablinks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;

  @include vp-1024 {
    margin: 0 0 30px;
  }
}

.chars__tablink {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  color: var(--text-light);
  background-color: var(--transparent);
  border: none;
  transition: color 0.5s;

  &.tabs__tablink--active {
    color: var(--white);
  }
}

.chars__slide {
  @include slide-layout;
}

.chars__item {
  @include slide-container;

  @include vp-1024 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0 10px;
  }

  @include vp-1366 {
    grid-template-columns: minmax(0, 5fr) minmax(0, 8fr);
    gap: 0 40px;
  }
}

.chars__swiper-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.chars__img {
  width: 100%;
  height: 396px;
  margin: 0 0 125px;

  @include vp-430 {
    height: auto;
    aspect-ratio: 409 / 396;
  }

  @include vp-550 {
    height: 513px;
    aspect-ratio: unset;
  }

  @include vp-1024 {
    margin: 0 0 60px;
  }

  @include vp-1366 {
    grid-area: 1 / 1 / 3 / 2;
  }

  @include vp-1640 {
    margin: 0 0 75px;
  }

  img {
    @include img-cover;
  }
}

.chars__details {
  margin: 0 0 20px;

  @include vp-1024 {
    grid-area: 1 / 2 / 3 / 3;
    margin: 0;
  }

  @include vp-1366 {
    grid-area: unset;
    margin: 0 0 20px;
  }

  div {
    padding: 10px 0 20px;
    border-bottom: 1px solid var(--text-grey);

    @include vp-1366 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 0 20px;
      padding: 15px 0;
    }

    @include vp-1640 {
      grid-template-columns: 40% 1fr;
    }
  }

  dt {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 18px;
    color: var(--text-grey);

    @include vp-1366 {
      margin: 0;
    }
  }

  dd {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
  }
}

.chars__bottom {
  @include vp-1024 {
    align-self: end;
  }

  @include vp-1366 {
    align-self: unset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include vp-1640 {
    grid-template-columns: 40% 1fr auto;
    align-items: end;
    margin: 0 0 75px;
  }
}

.chars__cost-title,
.chars__cost {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-grey);
}

.chars__cost-title {
  text-transform: uppercase;

  @include vp-1640 {
    margin: 0;
  }
}

.chars__cost {
  @include vp-1366 {
    margin: 0;
  }
}

.chars__callback {
  @include vp-1366 {
    grid-area: 1 / 2 / 3 / 3;
    align-self: end;
  }

  @include vp-1640 {
    grid-area: unset;
    min-width: 256px;
  }
}

.chars__swiper-controls {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  @include vp-430 {
    top: calc(400px / $vp-430 * 100vw);
  }

  @include vp-550 {
    top: 512px;
  }

  @include vp-1024 {
    left: 0;
    transform: translateX(0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: calc(50% - 5px);
  }

  @include vp-1366 {
    width: 37.5%;
  }
}

.chars__swiper-progress {
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
}

.chars__swiper-button-container {
  @include swiper-button-position;

  &.hidden {
    display: none;
  }
}

.chars__name {
  @include name-full-width;

  display: none;

  @include vp-1024 {
    display: block;
  }
}
