@use "index" as *;

.faq {
  padding: 20px 0;

  @include vp-1024 {
    padding: 80px 0;
  }
}

.faq__wrapper {
  @include vp-1024 {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 310px);
    align-items: end;
    gap: 50px;
  }
}

.faq__title {
  margin: 0 0 35px;

  @include vp-1024 {
    margin: 0;
  }
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: faq;

  @include vp-1024 {
    grid-column: 1 / 3;
  }
}

.faq__item {
  position: relative;
  padding: 24px 0 0;
  border-top: 1px solid var(--text-light);

  @include vp-1024 {
    display: grid;
    grid-template-columns: 40px 450px 1fr 30px;
    gap: 0 20px;
  }

  @include vp-1366 {
    grid-template-columns: 114fr 434fr 317fr 30px;
  }

  &::after {
    position: absolute;
    top: 25px;
    left: 0;
    counter-increment: faq;
    content: counter(faq, decimal-leading-zero);
    font-weight: 400;
    font-size: 18px;
    color: var(--text-light);

    @include vp-768 {
      font-size: 22px;
    }

    @include vp-1024 {
      font-size: 18px;
    }
  }
}

.faq__button {
  @include accordion-plus;

  width: calc(100% - 40px);
  margin: 0 0 30px 40px;
  padding: 0 30px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  border: none;
  background-color: var(--transparent);

  @include vp-768 {
    font-size: 22px;
  }

  @include vp-1024 {
    grid-area: 1 / 2 / 2 / 5;
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 0 20px;
    width: 100%;
    margin: 0 0 40px;
    font-size: 18px;
    text-transform: initial;
  }

  @include vp-1366 {
    grid-template-columns: 434fr 327fr;
  }

  @include vp-1640 {
    font-size: 25px;
  }

  &::before,
  &::after {
    @include vp-1024 {
      top: 14px;
    }
  }
}

.faq__content {
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.4s, max-height 0.5s, transform 0.5s, margin 0.5s;

  @include vp-1024 {
    grid-area: 1 / 3 / 2 / 4;
    transition: opacity 0.4s, max-height 1s, transform 1s, margin 1s;
  }

  &.accordion-content--opened {
    margin: 20px 0;
    transform: scaleY(1);
    transition: opacity 0.4s, max-height 0.5s, transform 0.5s, margin 0.5s;

    @include vp-1024 {
      margin: 0 0 60px;
      transition: opacity 0.4s, max-height 0.7s, transform 0.5s, margin 0.5s;
    }
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.03em;
    color: var(--text-light);

    @include vp-768 {
      font-size: 18px;
    }

    @include vp-1024 {
      font-size: 14px;
    }

    @include vp-1640 {
      font-size: 18px;
    }
  }
}

a.faq__callback {
  cursor: pointer;

  @include vp-1024 {
    grid-area: 1 / 2 / 2 / 3;
  }
}
