@use "index" as *;

.footer {
  padding: 20px 0;

  @include vp-1024 {
    padding: 40px 0 20px;
  }
}

.footer__wrapper {
  padding: 20px 0 0;
  border-top: 1px solid var(--text-light);

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
  }

  @include vp-1024 {
    grid-template-columns: 1fr 2fr;
    gap: 0 60px;
  }

  @include vp-1640 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer__subtitle {
  margin: 0 0 5px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-light);

  @include vp-1366 {
    font-size: 18px;
  }
}

.footer__contacts {
  margin: 0 0 20px;
  font-style: normal;

  @include vp-768 {
    margin: 0;
  }

  @include vp-1024 {
    grid-area: 1 / 1 / 3 / 2;
  }

  @include vp-1640 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    gap: 30px;
  }
}

.footer__contacts-item {
  @include vp-1024 {
    max-width: 400px;
  }

  @include vp-1640 {
    max-width: 463px;
  }

  &:first-child {
    margin: 0 0 40px;
  }
}

.footer__contacts-tel {
  margin: 0 0 14px;
}

.footer__contacts-text {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;

  @include vp-1640 {
    font-size: 25px;
  }
}

.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__socials-link {
  @include social-link;

  --color: var(--black);
}

.footer__address {
  margin: 0 0 17px;
}

.footer__nav {
  margin: 0 0 40px;

  @include vp-768 {
    margin: 0;
  }

  @include vp-1024 {
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 30px;
  }

  .footer__subtitle {
    margin: 0 0 24px;
  }
}

.footer__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__nav-group {
  &:not(:last-child) {
    margin: 0 0 40px;

    @include vp-1024 {
      margin: 0;
    }
  }
}

.footer__nav-item {
  &:not(:last-child) {
    margin: 0 0 3px;
  }
}

.footer__nav-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  @include vp-1024 {
    font-size: 14px;
  }
}

.footer__community {
  margin: 0 0 20px;

  @include vp-768 {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 60px;
    margin: 0;
  }

  @include vp-1024 {
    grid-area: 2 / 2 / 3 / 3;
    grid-template-columns: 4fr 5fr;
    gap: 30px;
  }

  .footer__socials {
    margin: 0 0 40px;
  }

  .footer__subtitle {
    margin: 0 0 10px;
  }
}

.footer__policy {
  margin: 0 0 26px;

  @include vp-768 {
    grid-area: 4 / 1 / 5 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    gap: 0 60px;
  }
}

.footer__policy-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--text-light);

  &:nth-child(3),
  &:nth-child(4) {
    @include vp-768 {
      text-align: right
    }
  }
}

.footer__name {
  @include name-full-width;

  color: var(--text-dark);

  @include vp-768 {
    grid-column: 1 / 3;
  }

  @include vp-1024 {
    margin: 40px 0 10px;
  }
}
