@use "index" as *;

.production-video {
  padding: 20px 0 30px;

  @include vp-1024 {
    padding: 40px 0;
  }
}

.production-video__title {
  margin: 0 0 38px;

  @include vp-1024 {
    margin: 0 0 15px;
  }
}
