@use "index" as *;

.process {
  padding: 20px 0;

  @include vp-1024 {
    padding: 80px 0 20px;
  }

  .container {
    @include vp-1024 {
      padding: 0;
    }
  }
}

.process__wrapper {
  @include vp-1024 {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, auto);
    gap: 40px;
  }
}

.process__title {
  margin: 0 0 19px;

  @include vp-1024 {
    margin: 0 0 0 var(--container-offset-tablet);
  }
}

.process__swiper-container {
  @include vp-1024 {
    grid-column: 1 / 3;
  }
}

.process__swiper-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: process;

  @include vp-1024 {
    margin: 0 0 20px var(--container-offset-tablet);
  }
}

.process__slide {
  @include vp-1024 {
    @include slide-layout;

    width: auto;
  }

  &:last-child {
    @include vp-1024 {
      margin: 0 var(--container-offset-tablet) 0 0;
    }
  }
}

.process__item {
  position: relative;
  padding: 24px 0 0;
  border-top: 1px solid var(--text-light);

  @include vp-1024 {
    @include slide-container;

    width: 456px;
    height: 400px;
    padding: 30px;
    background-color: var(--white);
    border-top: none;
    overflow-y: hidden;
  }

  @include vp-1366 {
    height: 518px;
  }

  &::after {
    position: absolute;
    top: 25px;
    left: 0;
    counter-increment: process;
    content: counter(process, decimal-leading-zero);
    font-weight: 400;
    font-size: 18px;
    color: var(--text-light);

    @include vp-768 {
      font-size: 22px;
    }

    @include vp-1024 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: counter(process);
      font-weight: 300;
      font-size: 521px;
      line-height: 1.1;
      text-transform: uppercase;
      color: var(--bg-light);
    }

    @include vp-1366 {
      font-size: 689px;
    }
  }
}

.process__button {
  @include accordion-plus;

  width: calc(100% - 40px);
  margin: 0 0 30px 40px;
  padding: 0 30px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  border: none;
  background-color: var(--transparent);

  @include vp-768 {
    font-size: 22px;
  }

  @include vp-1024 {
    display: none;
  }
}

.process__subtitle {
  display: none;

  @include vp-1024 {
    position: relative;
    display: block;
    margin: 0 0 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    z-index: 1;
  }
}

.process__content {
  @include vp-1024 {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    z-index: 1;
  }
}

.process__text {
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.4s, max-height 0.5s, transform 0.5s, margin 0.5s;

  @include vp-1024 {
    align-self: end;
    max-height: unset;
    min-height: 110px;
    transform: scale(1);
    opacity: 1;
  }

  @include vp-1920 {
    min-height: 85px;
  }

  &.accordion-content--opened {
    margin: 20px 0;
    transform: scaleY(1);
    transition: opacity 0.4s, max-height 0.5s, transform 0.3s, margin 0.3s;

    @include vp-1024 {
      margin: 0;
    }
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.03em;
    color: var(--text-light);

    @include vp-768 {
      font-size: 18px;
    }
  }
}

.process__callback {
  font-size: 14px;

  @include vp-1024 {
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
    margin: 0 var(--container-offset-tablet) 7px 0;
  }
}

.process__swiper-button-container {
  @include swiper-button-position;

  justify-content: flex-end;

  @include vp-1024 {
    margin: 0 var(--container-offset-tablet);
  }

  &.hidden {
    display: none;
  }
}
