@use "index" as *;

.reasons {
  --line-transform: scaleX(0);

  padding: 20px 0 14px;
  color: var(--white);
  background-color: var(--bg-dark);

  @include vp-1024 {
    padding: 37px 0 65px;
  }

  &.animated {
    --line-transform: scaleX(1);
  }
}

.reasons__title {
  margin: 0 0 35px;
}

.reasons__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: reasons;
}

.reasons__item {
  --delay: 0;

  position: relative;
  padding: 24px 0 20px;

  @include vp-1024 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 10px;
    padding: 17px 0;
  }

  &::before {
    position: absolute;
    top: 25px;
    left: 0;
    counter-increment: reasons;
    content: counter(reasons, decimal-leading-zero);
    font-weight: 400;
    font-size: 18px;
    color: var(--text-light);

    @include vp-768 {
      font-size: 22px;
    }

    @include vp-1024 {
      font-size: 18px;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--text-light);
    transform: var(--line-transform);
    transform-origin: left;
    transition: transform 4s;
    transition-delay: var(--delay);
  }
}

@for $i from 1 through 100 {
  .reasons__item:nth-child(#{$i}) {
    --delay: #{$i * 0.4}s;
  }
}

.reasons__subtitle {
  max-width: 80%;
  margin: 0 0 28px 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  border: none;
  background-color: var(--transparent);

  @include vp-768 {
    font-size: 22px;
  }

  @include vp-1024 {
    margin: 0 10px 0 50px;
    font-size: 18px;
    text-transform: initial;
  }

  @include vp-1366 {
    max-width: unset;
    margin: 0 10px 0 150px;
    letter-spacing: -0.06em;
  }

  @include vp-1640 {
    margin: 0 10px 0 200px;
    font-size: 25px;
  }

  @include vp-1920 {
    margin: 0 10px 0 273px;
  }
}

.reasons__content {
  max-width: 80%;

  @include vp-1920 {
    max-width: 670px;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.03em;
    color: var(--text-grey-light);

    @include vp-768 {
      font-size: 18px;
    }

    @include vp-1024 {
      font-size: 14px;
      line-height: 1.25;
    }

    @include vp-1640 {
      font-size: 18px;
      letter-spacing: 0;
    }
  }
}
