@use "index" as *;

.solutions {
  padding: 20px 0 50px;
  color: var(--white);
  background-color: var(--bg-dark);
}

.solutions__title {
  margin: 0 0 29px;
}

.solutions__tabs {
  @include vp-1024 {
    margin: 0 0 50px;
  }

  @include vp-1640 {
    margin: 0 0 20px;
  }
}

.solutions__tablinks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;

  @include vp-1024 {
    margin: 0 0 30px;
  }
}

.solutions__tablink {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  color: var(--text-light);
  background-color: var(--transparent);
  border: none;
  transition: color 0.5s;

  @include vp-1280 {
    font-size: 22px;
  }

  @include vp-1640 {
    font-size: 25px;
  }

  &.tabs__tablink--active {
    color: var(--white);
  }
}

.solutions__swiper-wrapper {
  margin: 0 0 29px;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin: 0;
  }
}

.solutions__slide {
  @include slide-layout;
}

.solutions__item {
  @include slide-container;

  padding: 44px 24px 35px;
  color: var(--text-dark);
  background-color: var(--white);

  @include vp-768 {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto 1fr;
  }

  @include vp-1280 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto 1fr;
    gap: 0 20px;
  }
}

.solutions__subtitle {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  @include vp-768 {
    min-height: 44px;
    margin: 0 0 20px;
  }
}

.solutions__img {
  width: 100%;
  height: 240px;
  margin: 0 0 40px;

  @include vp-430 {
    height: auto;
    aspect-ratio: 353 / 240;
  }

  @include vp-550 {
    height: 328px;
    aspect-ratio: unset;
  }

  @include vp-768 {
    height: auto;
    aspect-ratio: 353 / 240;
  }

  @include vp-1280 {
    grid-area: 1 / 2 / 4 / 3;
    width: 100%;
    height: 100%;
    aspect-ratio: unset;
  }

  img {
    @include img-cover;
  }
}

.solutions__content {
  margin: 0 0 20px;

  p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.03em;
    color: var(--text-light);
  }
}

.solutions__swiper-button-container {
  @include swiper-button-position;

  &.hidden {
    display: none;
  }
}
