@use "index" as *;

.types {
  padding: 40px 0;
  color: var(--white);
  background-color: var(--bg-dark);
}

.types__title {
  margin: 0 0 31px;
}

.types__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.types__item {
  @include vp-768 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr;
    gap: 10px;
  }

  @include vp-1366 {
    grid-template-columns: 50% 1fr 286px;
  }

  &:not(:last-child) {
    margin: 0 0 19px;

    @include vp-768 {
      margin: 0 0 40px;
    }

    &::after {
      @include vp-768 {
        position: absolute;
        bottom: -20px;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--white);
      }
    }
  }
}

.types__subtitle {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;

  @include vp-768 {
    margin: 0 0 40px;
    font-size: 22px;
  }

  @include vp-1024 {
    font-size: 26px;
  }

  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--white);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }
}

.types__subtitle:focus-visible,
.types__subtitle:hover {
  &::after {
    transform: scaleX(1);
  }
}

.types__img {
  width: 100%;
  height: 505px;
  margin: 0 0 20px;

  @include vp-768 {
    grid-area: 1 / 1 / 4 / 2;
    margin: 0;
  }

  @include vp-1366 {
    grid-area: 1 / 1 / 3 / 2;
  }

  img {
    @include img-cover;
  }
}

.types__text {
  margin: 0 0 15px;

  @include vp-1366 {
    align-self: end;
    max-width: 460px;
    margin: 0 10px 0 0;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.03em;

    @include vp-768 {
      font-size: 18px;
    }
  }

  p + p {
    margin-top: 7px;
  }
}

.types__links {
  @include vp-1366 {
    grid-area: 1 / 3 / 3 / 4;
    align-self: end;
  }
}

.types__link {
  &:not(:last-child) {
    margin: 0 0 15px;
  }
}

a.types__link {
  cursor: pointer;
}
