@use "index" as *;

.works {
  padding: 40px 0;
  color: var(--white);
  background-color: var(--bg-dark);

  @include vp-1024 {
    padding: 80px 0 40px;
  }

  @include vp-1640 {
    padding: 127px 0 40px;
  }
}

.works__title {
  margin: 0 0 10px;

  @include vp-1024 {
    margin: 0 0 48px;
  }
}

.works__wrapper {
  --line-transform-ver: scaleY(0);
  --line-transform-hor: scaleX(0);

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include vp-1024 {
    position: relative;
    grid-template-columns: minmax(0, 483fr) minmax(0, 472fr) minmax(0, 926fr);
    grid-template-rows: 1fr 1fr;
    align-items: end;
    gap: 30px;
  }

  &::before {
    @include vp-1024 {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: calc(100% + var(--container-offset-tablet));
      height: 1px;
      background-color: var(--white);
      transform: var(--line-transform-hor);
      transform-origin: right;
      transition: transform 3s;
    }

    @include vp-1920 {
      width: calc((100vw - var(--content-width)) / 2 + var(--content-width));
    }
  }

  &:has([data-animation].animated) {
    --line-transform-ver: scaleY(1);
    --line-transform-hor: scaleX(1);
  }
}

.works__item {
  position: relative;
  margin: 0 0 20px;

  @include vp-768 {
    margin: 0;
  }

  @include vp-1024 {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: end;
    height: 100%;
  }

  &:first-child {
    padding: 20px 0 0;
    border-top: 1px solid var(--white);

    @include vp-768 {
      padding: 0;
      grid-column: 1 / 3;
      border-top: none;
    }

    @include vp-1024 {
      grid-column: 1 / 2;
      padding: 30px 0 0;
    }

    @include vp-1640 {
      padding: 70px 0 0;
    }

    img {
      @include vp-1024 {
        aspect-ratio: 421 / 555;
      }
    }
  }

  &:nth-of-type(2) {
    @include vp-1024 {
      margin-right: 15px;
    }

    img {
      @include vp-1024 {
        aspect-ratio: 895 / 483;
      }
    }
  }

  &:last-of-type {
    margin: 0 0 10px;

    @include vp-768 {
      grid-column: 1 / 3;
    }

    @include vp-1024 {
      grid-area: 2 / 2 / 3 / 3;
      margin: 0;
    }

    img {
      @include vp-1024 {
        aspect-ratio: 439 / 521;
      }
    }
  }

  // декоративные полоски

  &:first-child::after,
  &:nth-of-type(2)::before,
  &:nth-of-type(2)::after {
    @include vp-1024 {
      position: absolute;
      top: 0;
      right: -15px;
      content: "";
      width: 1px;
      height: calc(200% + 30px);
      background-color: var(--white);
      transform: var(--line-transform-ver);
      transform-origin: top;
      transition: transform 3s;
    }
  }

  &:first-child::after {
    transition-delay: 1s;
  }

  &:nth-of-type(2)::before {
    right: unset;
    left: -15px;
    transform-origin: bottom;
  }

  &:nth-of-type(2)::after {
    transition-delay: 0.5s;
  }

  &[data-animation] {
    opacity: 1;
    transition: none;
  }
}

.works__img {
  width: 100%;
  aspect-ratio: 412 / 419;

  @include vp-550 {
    aspect-ratio: unset;
    height: 539px;
  }

  @include vp-1024 {
    height: unset;
  }

  img {
    @include img-cover;
  }
}

.works__link {
  font-size: 12px;

  @include vp-1366 {
    font-size: 14px;
  }
}

.works__all {
  margin: 0 0 60px;

  @include vp-768 {
    margin: 350px 0 0;
  }

  @include vp-1024 {
    align-self: end;
    margin: 0;
  }
}

.works__form {
  @include vp-768 {
    grid-column: 1 / 3;
  }

  @include vp-1024 {
    position: relative;
    grid-column: 3 / 4;
  }

  @include vp-1280 {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 0;
  }
}

.works__form-group {
  margin: 0;
  padding: 0;
  border: none;
}

.works__form-title {
  margin: 0 0 16px;

  @include vp-1024 {
    margin: 0 15px 16px 0;
    font-size: 22px;
  }

  @include vp-1280 {
    margin: 0 0 16px;
  }

  @include vp-1366 {
    font-size: 35px;
  }
}

.works__form-text {
  max-width: 385px;
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  @include vp-1024 {
    margin: 0 15px 25px 0;
  }

  @include vp-1366 {
    font-size: 18px;
  }
}

.works__form-list {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;

  @include vp-1280 {
    margin: 0 0 20px;
  }
}

.works__form-item {
  &:not(:last-child) {
    margin: 0 0 11px;

    @include vp-1280 {
      margin: 0 0 11px;
    }
  }
}

.works__field {
  @include input;

  --color: var(--white);

  &:has(span.visually-hidden) {
    --placeholder-color: var(--white);
  }

  input {
    width: 100%;
    border-bottom: 1px solid var(--white);
  }
}

.works__form-footer {
  @include vp-550 {
    display: grid;
    grid-template-columns: 1fr minmax(150px, auto);
    align-items: start;
    gap: 20px;
  }

  @include vp-1024 {
    display: block;
    padding-right: 15px;
  }

  @include vp-1280 {
    display: grid;
  }

  @include vp-1640 {
    grid-template-columns: 1fr minmax(180px, auto);
  }
}

.works__accept {
  @include accept;

  --color: var(--white);

  margin: 0 0 10px;

  @include vp-1024 {
    margin: 0 0 20px;
  }

  @include vp-1280 {
    margin: 0;
  }

  @include vp-1366 {
    max-width: 580px;
  }
}

.works__form-button {
  width: 100%;
}

.works__form-error-wrapper {
  min-height: 20px;
}

.works__form-error {
  margin: 10px 0 0 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  color: var(--error);
  animation: appear 0.3s;
}

.works__form-error-wrapper {
  @include vp-1024 {
    position: absolute;
    width: 100%;
    top: calc(100% + 10px);
  }
}
