<section class="about" data-animation="slide-down">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__main">
        <div class="about__main-img" data-animation-el>
          <picture>
            <source width="955" height="926" type="image/webp" media="(min-width: 768px)" srcset="img/about/pergola-main-tablet@1x.webp 1x, img/about/pergola-main-tablet@2x.webp 2x">
            <source width="430" height="328" type="image/webp" srcset="img/about/pergola-main-mobile@1x.webp 1x, img/about/pergola-main-mobile@2x.webp 2x">
            <source width="955" height="926" type="image/jpg" media="(min-width: 768px)" srcset="img/about/pergola-main-tablet@1x.jpg 1x, img/about/pergola-main-tablet@2x.jpg 2x">
            <img src="img/about/pergola-main-mobile@1x.jpg" srcset="img/about/pergola-main-mobile@2x.jpg 2x" width="430" height="328" alt="Премиальные перголы">
          </picture>
        </div>
        <h2 class="about__title title">Осуществляем полный цикл создания пергол от&nbsp;дизайна и&nbsp;проектирования до&nbsp;производства и&nbsp;монтажа</h2>
      </div>
      <div class="about__content">
        <div class="about__content-img" data-animation-el>
          <picture>
            <source width="955" height="473" type="image/webp" media="(min-width: 768px)" srcset="img/about/pergola-content-tablet@1x.webp 1x, img/about/pergola-content-tablet@2x.webp 2x">
            <source width="430" height="242" type="image/webp" srcset="img/about/pergola-content-mobile@1x.webp 1x, img/about/pergola-content-mobile@2x.webp 2x">
            <source width="955" height="473" type="image/jpg" media="(min-width: 768px)" srcset="img/about/pergola-content-tablet@1x.jpg 1x, img/about/pergola-content-tablet@2x.jpg 2x">
            <img src="img/about/pergola-content-mobile@1x.jpg" srcset="img/about/pergola-content-mobile@2x.jpg 2x" width="430" height="242" alt="Премиальные перголы">
          </picture>
        </div>
        <p class="about__subtitle">Поможем создать надёжное и&nbsp;функциональное решение для современного навеса, беседки или веранды</p>
        <div class="about__content-text">
          <p>Мы&nbsp;гордимся тем, что используем только лучшие материалы ведущих зарубежных производителей, что гарантирует прочность и&nbsp;долговечность вашей перголы. Каждая пергола разрабатывается с&nbsp;учетом потребностей и&nbsp;пожеланий клиентов, чтобы создать уютное и&nbsp;функциональное пространство для отдыха и&nbsp;встреч с&nbsp;друзьями.</p>
          <p>Реализуем любые нестандартные решения, которые помогут воплотить ваши идеи и&nbsp;мечты. Наша цель&nbsp;- сделать ваше пространство более удобным, красивым и&nbsp;современным. Благодаря перголам вы&nbsp;получаете уникальный архитектурный элемент, сочетающий комфорт, стиль и&nbsp;передовые технологии.</p>
        </div>
        <button class="about__button button button--dark" type="button" aria-label="Открыть форму расчёта" data-modal-button="callback" data-modal-title="individual-calc">Получить индивидуальный расчёт</button>
      </div>
    </div>
  </div>
</section>
