<section class="about-us">
  <div class="container">
    <div class="about-us__wrapper">
      <div class="about-us__main">
        <div class="about-us__main-img" data-animation="slide-down">
          <picture>
            <img src="img/placeholders/placeholder.jpg" width="430" height="328" alt="Премиальные перголы">
          </picture>
        </div>
        <h2 class="about-us__title title">Осуществляем полный цикл создания пергол от&nbsp;дизайна и&nbsp;проектирования до&nbsp;производства и&nbsp;монтажа</h2>
      </div>
      <div class="about-us__content">
        <div class="about-us__content-img" data-animation="slide-down">
          <picture>
            <source width="955" height="473" type="image/webp" media="(min-width: 768px)" srcset="img/about-us/pergola-content-tablet@1x.webp 1x, img/about-us/pergola-content-tablet@2x.webp 2x">
            <source width="430" height="242" type="image/webp" srcset="img/about-us/pergola-content-mobile@1x.webp 1x, img/about-us/pergola-content-mobile@2x.webp 2x">
            <source width="955" height="473" type="image/jpg" media="(min-width: 768px)" srcset="img/about-us/pergola-content-tablet@1x.jpg 1x, img/about-us/pergola-content-tablet@2x.jpg 2x">
            <img src="img/about-us/pergola-content-mobile@1x.jpg" srcset="img/about-us/pergola-content-mobile@2x.jpg 2x" width="430" height="242" alt="Премиальные перголы">
          </picture>
        </div>
        <p class="about-us__subtitle">Поможем создать надёжное и&nbsp;функциональное решение для современного навеса, беседки или веранды</p>
        <div class="about-us__content-text">
          <p>Мы&nbsp;гордимся тем, что используем только лучшие материалы ведущих зарубежных производителей, что гарантирует прочность и&nbsp;долговечность вашей перголы. Каждая пергола разрабатывается с&nbsp;учетом потребностей и&nbsp;пожеланий клиентов, чтобы создать уютное и&nbsp;функциональное пространство для отдыха и&nbsp;встреч с&nbsp;друзьями.</p>
          <p>Реализуем любые нестандартные решения, которые помогут воплотить ваши идеи и&nbsp;мечты. Наша цель&nbsp;- сделать ваше пространство более удобным, красивым и&nbsp;современным. Благодаря перголам вы&nbsp;получаете уникальный архитектурный элемент, сочетающий комфорт, стиль и&nbsp;передовые технологии.</p>
        </div>
        <a class="about-us__button button button--dark" href="#">получить индивидуальный расчёт</a>
      </div>
    </div>
  </div>
</section>
