<section class="advantages">
  <div class="container">
    <h2 class="advantages__title title title--shift">Наши перголы&nbsp;— <span class="title-accent">это не&nbsp;просто навесы, а&nbsp;способ превратить ваше пространство</span> в&nbsp;уютное и&nbsp;стильное место для жизни, работы и&nbsp;отдыха</h2>
    <div class="advantages__swiper-container">
      <div class="advantages__swiper" data-swiper="navigation">
        <ul class="advantages__swiper-wrapper">
          <li class="advantages__slide">
            <div class="advantages__item">
              <p class="advantages__subtitle">Собственное производство и прямые поставки</p>
              <div class="advantages__img">
                <picture>
                  <source width="187" height="187" type="image/webp" srcset="img/advantages/production@1x.webp 1x, img/advantages/production@2x.png 2x">
                  <img src="img/advantages/production@1x.png" srcset="img/advantages/production@2x.png 2x" width="187" height="187" alt="Шестеренка">
                </picture>
              </div>
              <div class="advantages__content">
                <p>Изготавливаем перголы самостоятельно и&nbsp;получаем материалы напрямую от&nbsp;проверенных европейских и&nbsp;турецких производителей&nbsp;— без наценок посредников.</p>
              </div>
              <a class="advantages__callback button button--dark">Оставить заявку</a>
            </div>
          </li>
          <li class="advantages__slide">
            <div class="advantages__item">
              <p class="advantages__subtitle">Работа под ключ</p>
              <div class="advantages__img">
                <picture>
                  <source width="132" height="134" type="image/webp" srcset="img/advantages/key@1x.webp 1x, img/advantages/key@2x.png 2x">
                  <img src="img/advantages/key@1x.png" srcset="img/advantages/key@2x.png 2x" width="132" height="134" alt="Шестеренка">
                </picture>
              </div>
              <div class="advantages__content">
                <p>Все ваши заботы берём на&nbsp;себя&nbsp;— проектируем, производим, доставляем, монтируем и&nbsp;обслуживаем перголы, экономя ваше время. Вы&nbsp;получаете полностью готовую и&nbsp;рабочую конструкцию без лишних хлопот.</p>
              </div>
              <a class="advantages__callback button button--dark">Оставить заявку</a>
            </div>
          </li>
          <li class="advantages__slide">
            <div class="advantages__item">
              <p class="advantages__subtitle">Фиксированные сроки и ответственность за&nbsp;результат</p>
              <div class="advantages__img">
                <picture>
                  <source width="158" height="191" type="image/webp" srcset="img/advantages/deadlines@1x.webp 1x, img/advantages/deadlines@2x.png 2x">
                  <img src="img/advantages/deadlines@1x.png" srcset="img/advantages/deadlines@2x.png 2x" width="158" height="191" alt="Шестеренка">
                </picture>
              </div>
              <div class="advantages__content">
                <p>Изготавливаем и&nbsp;устанавливаем перголы от&nbsp;21&nbsp;дня&nbsp;— одни из&nbsp;самых коротких сроков на&nbsp;рынке.</p>
              </div>
              <a class="advantages__callback button button--dark">Оставить заявку</a>
            </div>
          </li>
          <li class="advantages__slide">
            <div class="advantages__item">
              <p class="advantages__subtitle">Гарантия и сервис после установки</p>
              <div class="advantages__img">
                <picture>
                  <source width="176" height="157" type="image/webp" srcset="img/advantages/guarantee@1x.webp 1x, img/advantages/guarantee@2x.png 2x">
                  <img src="img/advantages/guarantee@1x.png" srcset="img/advantages/guarantee@2x.png 2x" width="176" height="157" alt="Шестеренка">
                </picture>
              </div>
              <div class="advantages__content">
                <p>Даём официальную гарантию на&nbsp;наши перголы до&nbsp;10&nbsp;лет и&nbsp;предоставляем профессиональное обслуживание. Всегда на&nbsp;связи&nbsp;— даже после сдачи объекта.</p>
              </div>
              <a class="advantages__callback button button--dark">Оставить заявку</a>
            </div>
          </li>
          <li class="advantages__slide">
            <div class="advantages__item">
              <p class="advantages__subtitle">Интеллектуальные технологии и комфорт</p>
              <div class="advantages__img">
                <picture>
                  <source width="98" height="135" type="image/webp" srcset="img/advantages/technologies@1x.webp 1x, img/advantages/technologies@2x.png 2x">
                  <img src="img/advantages/technologies@1x.png" srcset="img/advantages/technologies@2x.png 2x" width="98" height="135" alt="Шестеренка">
                </picture>
              </div>
              <div class="advantages__content">
                <p>Автоматическое управление ламелями, встроенные системы водоотвода, освещение, датчики дождя&nbsp;— мы&nbsp;создаём комфортные, «умные» пространства.</p>
              </div>
              <a class="advantages__callback button button--dark">Оставить заявку</a>
            </div>
          </li>
          <li class="advantages__slide">
            <div class="advantages__item">
              <p class="advantages__subtitle">Проверенная надёжность и долговечность</p>
              <div class="advantages__img">
                <picture>
                  <source width="222" height="153" type="image/webp" srcset="img/advantages/reliability@1x.webp 1x, img/advantages/reliability@2x.png 2x">
                  <img src="img/advantages/reliability@1x.png" srcset="img/advantages/reliability@2x.png 2x" width="222" height="153" alt="Шестеренка">
                </picture>
              </div>
              <div class="advantages__content">
                <p>Перголы проходят усиленную антикоррозийную обработку, покраску в&nbsp;5&nbsp;этапов и&nbsp;выдерживают высокие климатические нагрузки. Работают минимум 10&nbsp;лет, сохраняя при этом презентабельный вид в&nbsp;отличие от&nbsp;обычных навесов,&nbsp;— проверено нашими клиентами.</p>
              </div>
              <a class="advantages__callback button button--dark">Оставить заявку</a>
            </div>
          </li>
        </ul>
        <div class="advantages__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
    <div class="advantages__name parallax">
      <p class="parallax-element">Luxsunlife</p>
    </div>
  </div>
</section>
