<section class="areas">
  <div class="container">
    <div class="areas__header">
      <h2 class="areas__title title">Пространства, где работают перголы</h2>
      <p class="areas__header-text">Перголы от&nbsp;LuxSunlife выбирают&nbsp;те, кто ценит надёжность, эстетику и&nbsp;персональный подход</p>
    </div>
    <div class="areas__list" role="list">
      <div class="areas__item" role="listitem">
        <div class="areas__content">
          <p class="areas__subtitle">Для дачи/коттеджа</p>
          <div class="areas__item-text">
            <p>Пергола создаёт уютное пространство для отдыха на&nbsp;участке: на&nbsp;террасе, в&nbsp;саду или у&nbsp;зоны барбекю. Надёжная защита от&nbsp;солнца, дождя и&nbsp;ветра, при этом&nbsp;&mdash; лёгкий, современный дизайн, который дополняет архитектуру дома.</p>
          </div>
          <a class="areas__order button button--dark" href="#">Заказать перголу</a>
        </div>
        <button class="areas__photo-preview" type="button" data-modal-button="image-full">
          <picture>
            <source width="462" height="371" type="image/webp" srcset="img/areas/cottage@1x.webp 1x, img/areas/cottage@2x.webp 2x">
            <img src="img/areas/cottage@1x.jpg" srcset="img/areas/cottage@2x.jpg 2x" width="462" height="371" alt="Перголы для дачи">
          </picture>
        </button>
        <div class="areas__photo-full" data-full-photo>
          <picture>
            <source width="1280" height="720" type="image/webp" srcset="img/areas/cottage-full@1x.webp 1x, img/areas/cottage-full@2x.webp 2x">
            <img src="img/areas/cottage-full@1x.jpg" srcset="img/areas/cottage-full@2x.jpg 2x" width="1280" height="720" alt="Перголы для дачи">
          </picture>
        </div>
      </div>
      <div class="areas__item" role="listitem">
        <div class="areas__content">
          <p class="areas__subtitle">Для автомобиля</p>
          <div class="areas__item-text">
            <p>Пергола служит стильной и&nbsp;функциональной альтернативой капитальному навесу. Защищает машину от&nbsp;солнца, осадков и&nbsp;пыли, легко вписывается в&nbsp;ландшафт и&nbsp;не&nbsp;требует согласований как гараж. Выдерживает высокую снеговую нагрузку в&nbsp;отличие от&nbsp;обычного навеса.</p>
          </div>
          <a class="areas__order button button--dark" href="#">Заказать перголу</a>
        </div>
        <button class="areas__photo-preview" type="button" data-modal-button="image-full">
          <picture>
            <source width="462" height="371" type="image/webp" srcset="img/areas/car@1x.webp 1x, img/areas/car@2x.webp 2x">
            <img src="img/areas/car@1x.jpg" srcset="img/areas/car@2x.jpg 2x" width="462" height="371" alt="Перголы для защиты автомобилей">
          </picture>
        </button>
        <div class="areas__photo-full" data-full-photo>
          <picture>
            <source width="1280" height="720" type="image/webp" srcset="img/areas/car-full@1x.webp 1x, img/areas/car-full@2x.webp 2x">
            <img src="img/areas/car-full@1x.jpg" srcset="img/areas/car-full@2x.jpg 2x" width="1280" height="720" alt="Перголы для защиты автомобилей">
          </picture>
        </div>
      </div>
      <div class="areas__item" role="listitem">
        <div class="areas__content">
          <p class="areas__subtitle">Для бассейна и SPA&#8288;-&#8288;зоны</p>
          <div class="areas__item-text">
            <p>Создаёт тень и&nbsp;комфорт у&nbsp;бассейна, защищая от&nbsp;перегрева, прямого солнца и&nbsp;внезапного дождя. Возможна установка ZIP&#8288;-&#8288;экранов или остекления для защиты от&nbsp;ветра&nbsp;— отдых у&nbsp;воды становится комфортнее и&nbsp;безопаснее.</p>
          </div>
          <a class="areas__order button button--dark" href="#">Заказать перголу</a>
        </div>
        <button class="areas__photo-preview" type="button" data-modal-button="image-full">
          <picture>
            <source width="462" height="371" type="image/webp" srcset="img/areas/spa@1x.webp 1x, img/areas/spa@2x.webp 2x">
            <img src="img/areas/spa@1x.jpg" srcset="img/areas/spa@2x.jpg 2x" width="462" height="371" alt="Перголы для бассейна и SPA-зоны">
          </picture>
        </button>
        <div class="areas__photo-full" data-full-photo>
          <picture>
            <source width="1280" height="720" type="image/webp" srcset="img/areas/spa-full@1x.webp 1x, img/areas/spa-full@2x.webp 2x">
            <img src="img/areas/spa-full@1x.jpg" srcset="img/areas/spa-full@2x.jpg 2x" width="1280" height="720" alt="Перголы для бассейна и SPA-зоны">
          </picture>
        </div>
      </div>
      <div class="areas__item" role="listitem">
        <div class="areas__content">
          <p class="areas__subtitle">Для террасы и веранды</p>
          <div class="areas__item-text">
            <p>Пергола превращает открытую террасу в&nbsp;полноценную зону отдыха, обедов или вечеринок&nbsp;— с&nbsp;возможностью освещения, обогрева и&nbsp;управления микроклиматом. Стильное продолжение интерьера на&nbsp;улице.</p>
          </div>
          <a class="areas__order button button--dark" href="#">Заказать перголу</a>
        </div>
        <button class="areas__photo-preview" type="button" data-modal-button="image-full">
          <picture>
            <source width="462" height="371" type="image/webp" srcset="img/areas/terrace@1x.webp 1x, img/areas/terrace@2x.webp 2x">
            <img src="img/areas/terrace@1x.jpg" srcset="img/areas/terrace@2x.jpg 2x" width="462" height="371" alt="Перголы для террасы и веранды">
          </picture>
        </button>
        <div class="areas__photo-full" data-full-photo>
          <picture>
            <source width="1280" height="720" type="image/webp" srcset="img/areas/terrace-full@1x.webp 1x, img/areas/terrace-full@2x.webp 2x">
            <img src="img/areas/terrace-full@1x.jpg" srcset="img/areas/terrace-full@2x.jpg 2x" width="1280" height="720" alt="Перголы террасы и веранды">
          </picture>
        </div>
      </div>
      <div class="areas__item" role="listitem">
        <div class="areas__content">
          <p class="areas__subtitle">Для кафе, ресторанов и гостиниц</p>
          <div class="areas__item-text">
            <p>Расширяет посадочные места, работает как крытая веранда или уличная зона для объектов HoReCa. Защищает гостей от&nbsp;солнца, дождя и&nbsp;ветра. Возможна интеграция освещения, обогрева и&nbsp;остекления&nbsp;— сезон продлевается на&nbsp;весь год.</p>
          </div>
          <a class="areas__order button button--dark" href="#">Заказать перголу</a>
        </div>
        <button class="areas__photo-preview" type="button" data-modal-button="image-full">
          <picture>
            <source width="462" height="371" type="image/webp" srcset="img/areas/cafe@1x.webp 1x, img/areas/cafe@2x.webp 2x">
            <img src="img/areas/cafe@1x.jpg" srcset="img/areas/cafe@2x.jpg 2x" width="462" height="371" alt="Перголы для кафе, ресторанов и гостиниц">
          </picture>
        </button>
        <div class="areas__photo-full" data-full-photo>
          <picture>
            <source width="1280" height="720" type="image/webp" srcset="img/areas/cafe-full@1x.webp 1x, img/areas/cafe-full@2x.webp 2x">
            <img src="img/areas/cafe-full@1x.jpg" srcset="img/areas/cafe-full@2x.jpg 2x" width="1280" height="720" alt="Перголы для кафе, ресторанов и гостиниц">
          </picture>
        </div>
      </div>
      <div class="areas__item" role="listitem">
        <div class="areas__content">
          <p class="areas__subtitle">На крыше</p>
          <div class="areas__item-text">
            <p>Пергола на&nbsp;эксплуатируемой кровле&nbsp;— это премиальное решение для лаунж-зон, баров, патио или SPA&#8288;-&#8288;пространств. Надёжная конструкция с&nbsp;лёгким внешним видом, устойчивостью к&nbsp;ветру и&nbsp;возможностью полной автоматизации.</p>
          </div>
          <a class="areas__order button button--dark" href="#">Заказать перголу</a>
        </div>
        <button class="areas__photo-preview" type="button" data-modal-button="image-full">
          <picture>
            <source width="462" height="371" type="image/webp" srcset="img/areas/roof@1x.webp 1x, img/areas/roof@2x.webp 2x">
            <img src="img/areas/roof@1x.jpg" srcset="img/areas/roof@2x.jpg 2x" width="462" height="371" alt="Перголы на крыше">
          </picture>
        </button>
        <div class="areas__photo-full" data-full-photo>
          <picture>
            <source width="1280" height="720" type="image/webp" srcset="img/areas/roof-full@1x.webp 1x, img/areas/roof-full@2x.webp 2x">
            <img src="img/areas/roof-full@1x.jpg" srcset="img/areas/roof-full@2x.jpg 2x" width="1280" height="720" alt="Перголы на крыше">
          </picture>
        </div>
      </div>
      <div class="areas__item" role="listitem">
        <div class="areas__content">
          <p class="areas__subtitle">Для зоны барбекю</p>
          <div class="areas__item-text">
            <p>Пергола создаёт защищённое и&nbsp;комфортное пространство для приготовления и&nbsp;приёма пищи на&nbsp;свежем воздухе. Она укрывает от&nbsp;солнца и&nbsp;дождя, позволяет установить освещение, вытяжку и&nbsp;даже систему вентиляции. Барбекю-зона становится функциональной в&nbsp;любую погоду и&nbsp;визуально интегрируется в&nbsp;ландшафт участка.</p>
          </div>
          <a class="areas__order button button--dark" href="#">Заказать перголу</a>
        </div>
        <button class="areas__photo-preview" type="button" data-modal-button="image-full">
          <picture>
            <img src="img/placeholders/placeholder.jpg" width="430" height="328" alt="Перголы для зоны барбекю">
          </picture>
        </button>
        <div class="areas__photo-full" data-full-photo>
          <picture>
            <img src="img/placeholders/placeholder.jpg" width="430" height="328" alt="Перголы для зоны барбекю">
          </picture>
        </div>
      </div>
      <form class="areas__form" action="" method="post">
        <fieldset class="areas__form-group">
          <legend class="areas__form-title title">Получите индивидуальный проект перголы под&nbsp;вашу&nbsp;задачу</legend>
          <ul class="areas__form-list">
            <li class="areas__form-item">
              <label class="areas__field">
                <span class="visually-hidden">Имя</span>
                <input class="areas__input" type="text" name="name" placeholder="Имя">
              </label>
            </li>
            <li class="areas__form-item">
              <label class="areas__field">
                <span class="visually-hidden">Телефон</span>
                <input class="areas__input" type="tel" name="phone" placeholder="Телефон">
              </label>
            </li>
          </ul>
        </fieldset>
        <div class="areas__form-footer">
          <label class="areas__accept">
            <span class="areas__label">Я&nbsp;ознакомлен с&nbsp;Политикой конфиденциальности и&nbsp;даю согласие на&nbsp;обработку моих персональных данных</span>
            <input class="visually-hidden" type="checkbox" name="accept" required>
          </label>
          <button class="areas__form-button button button--dark" type="submit">Получить проект</button>
        </div>
        <div class="areas__form-error-wrapper">
          <p class="areas__form-error hidden"></p>
        </div>
      </form>
    </div>
  </div>
</section>
