<section class="blog-preview">
  <div class="container">
    <h2 class="blog-preview__title title">Блог</h2>
    <div class="blog-preview__wrapper">
      <div class="blog-preview__item">
        <div class="blog-preview__img">
          <picture>
            <img src="img/placeholders/placeholder.jpg" width="410" height="399" alt="">
          </picture>
        </div>
        <p class="blog-preview__subtitle">Тема</p>
        <p class="blog-preview__date">Дата</p>
      </div>
      <div class="blog-preview__item">
        <div class="blog-preview__img">
          <picture>
            <img src="img/placeholders/placeholder.jpg" width="410" height="399" alt="">
          </picture>
        </div>
        <p class="blog-preview__subtitle">Тема</p>
        <p class="blog-preview__date">Дата</p>
      </div>
      <div class="blog-preview__item">
        <div class="blog-preview__img">
          <picture>
            <img src="img/placeholders/placeholder.jpg" width="410" height="399" alt="">
          </picture>
        </div>
        <p class="blog-preview__subtitle">Тема</p>
        <p class="blog-preview__date">Дата</p>
      </div>
      <a class="blog-preview__all button" href="#">Читать все статьи</a>
    </div>
  </div>
</section>
