<section class="blog">
  <div class="container">
    <h1 class="blog__title title title--light">Блог</h1>
    <div class="grid-layout">
      <div class="grid-layout__item">
        <a class="grid-layout__link" href="#">
          <div class="grid-layout__img">
            <picture>
              <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/forest-tablet@1x.webp 1x, img/works/forest-tablet@2x.webp 2x">
              <source width="768" height="419" type="image/webp" srcset="img/works/forest-mobile@1x.webp 1x, img/works/forest-mobile@2x.webp 2x">
              <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/forest-tablet@1x.jpg 1x, img/works/forest-tablet@2x.jpg 2x">
              <img src="img/works/forest-mobile@1x.jpg" srcset="img/works/forest-mobile@2x.jpg 2x" width="768" height="419" alt="Лесная локация">
            </picture>
          </div>
          <p class="grid-layout__button button">Тема</p>
        </a>
      </div>
      <div class="grid-layout__item">
        <a class="grid-layout__link" href="#">
          <div class="grid-layout__img">
            <picture>
              <source width="460" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/villa-tablet@1x.webp 1x, img/works/villa-tablet@2x.webp 2x">
              <source width="412" height="419" type="image/webp" srcset="img/works/villa-mobile@1x.webp 1x, img/works/villa-mobile@2x.webp 2x">
              <source width="460" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/villa-tablet@1x.jpg 1x, img/works/villa-tablet@2x.jpg 2x">
              <img src="img/works/villa-mobile@1x.jpg" srcset="img/works/villa-mobile@2x.jpg 2x" width="412" height="419" alt="Беседка на частной вилле">
            </picture>
          </div>
          <p class="grid-layout__button button">Тема</p>
        </a>
      </div>
      <div class="grid-layout__item">
        <a class="grid-layout__link" href="#">
          <div class="grid-layout__img">
            <picture>
              <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/forest-tablet@1x.webp 1x, img/works/forest-tablet@2x.webp 2x">
              <source width="768" height="419" type="image/webp" srcset="img/works/forest-mobile@1x.webp 1x, img/works/forest-mobile@2x.webp 2x">
              <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/forest-tablet@1x.jpg 1x, img/works/forest-tablet@2x.jpg 2x">
              <img src="img/works/forest-mobile@1x.jpg" srcset="img/works/forest-mobile@2x.jpg 2x" width="768" height="419" alt="Лесная локация">
            </picture>
          </div>
          <p class="grid-layout__button button">Тема</p>
        </a>
      </div>
    </div>
  </div>
</section>
