<div class="bottom-img">
  <picture>
    <source width="1920" height="939" type="image/webp" media="(min-width: 768px)" srcset="img/page-bottom/index-tablet@1x.webp 1x, img/page-bottom/index-tablet@2x.webp 2x">
    <source width="768" height="610" type="image/webp" srcset="img/page-bottom/index-mobile@1x.webp 1x, img/page-bottom/index-mobile@2x.webp 2x">
    <source width="1920" height="939" type="image/jpg" media="(min-width: 768px)" srcset="img/page-bottom/index-tablet@1x.jpg 1x, img/page-bottom/index-tablet@2x.jpg 2x">
    <img src="img/page-bottom/index-mobile@1x.jpg" srcset="img/page-bottom/index-mobile@2x.jpg 2x" width="768" height="610" alt="Премиальные перголы">
  </picture>
</div>
