<section class="chars">
  <div class="container">
    <h2 class="chars__title title title--shift">Универсальность перголы позволяет <span class="title-accent">органично вписать</span> конструкцию в&nbsp;ваш объект</h2>
    <div class="chars__tabs tabs">
      <div class="chars__tabs-wrapper">
        <ul class="chars__tablinks tabs__tablinks">
          <li class="chars__tablinks-item">
            <button class="chars__tablink tabs__tablink tabs__tablink--active" data-tab="aluminum" type="button">Алюминиевые перголы</button>
          </li>
          <li class="chars__tablinks-item">
            <button class="chars__tablink tabs__tablink" data-tab="flat" type="button">Тентовые перголы плоские</button>
          </li>
          <li class="chars__tablinks-item">
            <button class="chars__tablink tabs__tablink" data-tab="curved" type="button">Тентовые перголы изогнутые</button>
          </li>
        </ul>
      </div>
      <div class="chars__tabcontents tabs__tabcontents">
        <div class="chars__tabcontent tabs__tabcontent tabs__tabcontent--active" data-tab-content="aluminum">
          <div class="chars__swiper-container">
            <div class="chars__swiper" data-swiper="navigation">
              <ul class="chars__swiper-wrapper">
                <li class="chars__slide">
                  <div class="chars__item">
                    <div class="chars__img">
                      <picture>
                        <source width="722" height="572" type="image/webp" media="(min-width: 768px)" srcset="img/chars/aluminum-tablet@1x.webp 1x, img/chars/aluminum-tablet@2x.webp 2x">
                        <source width="409" height="396" type="image/webp" srcset="img/chars/aluminum-mobile@1x.webp 1x, img/chars/aluminum-mobile@2x.webp 2x">
                        <source width="722" height="572" type="image/jpg" media="(min-width: 768px)" srcset="img/chars/aluminum-tablet@1x.jpg 1x, img/chars/aluminum-tablet@2x.jpg 2x">
                        <img src="img/chars/aluminum-mobile@1x.jpg" srcset="img/chars/aluminum-mobile@2x.jpg 2x" width="409" height="396" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <dl class="chars__details">
                      <div>
                        <dt>Тип конструкции</dt>
                        <dd>Примыкающая</dd>
                      </div>
                      <div>
                        <dt>Максимальная ширина (пролёт)</dt>
                        <dd>до&nbsp;~&nbsp;14,0&nbsp;м (в&nbsp;единичном модуле)</dd>
                      </div>
                      <div>
                        <dt>Максимальный вынос (глубина)</dt>
                        <dd>~&nbsp;6,0–7,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Максимальная высота</dt>
                        <dd>~&nbsp;2,5‑3,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Моторизация</dt>
                        <dd>Электродвигатель (например, Somfy или аналогичный) для движения тента по&nbsp;направляющим</dd>
                      </div>
                      <div>
                        <dt>Дистанционное управление</dt>
                        <dd>Пульт, настенная панель, возможна интеграция с&nbsp;системой “умного дома”</dd>
                      </div>
                      <div>
                        <dt>Система водоотведения</dt>
                        <dd>Встроенные лотки или каналы в&nbsp;каркасе / колоннах для отвода воды</dd>
                      </div>
                    </dl>
                    <div class="chars__bottom">
                      <p class="chars__cost-title">Стоимость</p>
                      <p class="chars__cost">от&nbsp;100&nbsp;000&nbsp;₽</p>
                      <a class="chars__callback button">Узнать точную цену</a>
                    </div>
                  </div>
                </li>
                <li class="chars__slide">
                  <div class="chars__item">
                    <div class="chars__img">
                      <picture>
                        <source width="722" height="572" type="image/webp" media="(min-width: 768px)" srcset="img/chars/cafe-full@1x.webp 1x, img/chars/cafe-full@2x.webp 2x">
                        <source width="409" height="396" type="image/webp" srcset="img/chars/cafe@1x.webp 1x, img/chars/cafe@2x.webp 2x">
                        <source width="722" height="572" type="image/jpg" media="(min-width: 768px)" srcset="img/chars/cafe-full@1x.jpg 1x, img/chars/cafe-full@2x.jpg 2x">
                        <img src="img/chars/cafe@1x.jpg" srcset="img/chars/cafe@2x.jpg 2x" width="409" height="396" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <dl class="chars__details">
                      <div>
                        <dt>Тип конструкции</dt>
                        <dd>Примыкающая</dd>
                      </div>
                      <div>
                        <dt>Максимальная ширина (пролёт)</dt>
                        <dd>до&nbsp;~&nbsp;14,0&nbsp;м (в&nbsp;единичном модуле)</dd>
                      </div>
                      <div>
                        <dt>Максимальный вынос (глубина)</dt>
                        <dd>~&nbsp;6,0–7,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Максимальная высота</dt>
                        <dd>~&nbsp;2,5‑3,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Моторизация</dt>
                        <dd>Электродвигатель (например, Somfy или аналогичный) для движения тента по&nbsp;направляющим</dd>
                      </div>
                      <div>
                        <dt>Дистанционное управление</dt>
                        <dd>Пульт, настенная панель, возможна интеграция с&nbsp;системой “умного дома”</dd>
                      </div>
                      <div>
                        <dt>Система водоотведения</dt>
                        <dd>Встроенные лотки или каналы в&nbsp;каркасе / колоннах для отвода воды</dd>
                      </div>
                    </dl>
                    <div class="chars__bottom">
                      <p class="chars__cost-title">Стоимость</p>
                      <p class="chars__cost">от&nbsp;100&nbsp;000&nbsp;₽</p>
                      <a class="chars__callback button">Узнать точную цену</a>
                    </div>
                  </div>
                </li>
                <li class="chars__slide">
                  <div class="chars__item">
                    <div class="chars__img">
                      <picture>
                        <source width="722" height="572" type="image/webp" media="(min-width: 768px)" srcset="img/chars/aluminum-tablet@1x.webp 1x, img/chars/aluminum-tablet@2x.webp 2x">
                        <source width="409" height="396" type="image/webp" srcset="img/chars/aluminum-mobile@1x.webp 1x, img/chars/aluminum-mobile@2x.webp 2x">
                        <source width="722" height="572" type="image/jpg" media="(min-width: 768px)" srcset="img/chars/aluminum-tablet@1x.jpg 1x, img/chars/aluminum-tablet@2x.jpg 2x">
                        <img src="img/chars/aluminum-mobile@1x.jpg" srcset="img/chars/aluminum-mobile@2x.jpg 2x" width="409" height="396" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <dl class="chars__details">
                      <div>
                        <dt>Тип конструкции</dt>
                        <dd>Примыкающая</dd>
                      </div>
                      <div>
                        <dt>Максимальная ширина (пролёт)</dt>
                        <dd>до&nbsp;~&nbsp;14,0&nbsp;м (в&nbsp;единичном модуле)</dd>
                      </div>
                      <div>
                        <dt>Максимальный вынос (глубина)</dt>
                        <dd>~&nbsp;6,0–7,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Максимальная высота</dt>
                        <dd>~&nbsp;2,5‑3,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Моторизация</dt>
                        <dd>Электродвигатель (например, Somfy или аналогичный) для движения тента по&nbsp;направляющим</dd>
                      </div>
                      <div>
                        <dt>Дистанционное управление</dt>
                        <dd>Пульт, настенная панель, возможна интеграция с&nbsp;системой “умного дома”</dd>
                      </div>
                      <div>
                        <dt>Система водоотведения</dt>
                        <dd>Встроенные лотки или каналы в&nbsp;каркасе / колоннах для отвода воды</dd>
                      </div>
                    </dl>
                    <div class="chars__bottom">
                      <p class="chars__cost-title">Стоимость</p>
                      <p class="chars__cost">от&nbsp;100&nbsp;000&nbsp;₽</p>
                      <a class="chars__callback button">Узнать точную цену</a>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="chars__swiper-controls">
                <p class="chars__swiper-progress swiper-progress"></p>
                <div class="chars__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chars__tabcontent tabs__tabcontent" data-tab-content="flat">
          <div class="chars__swiper-container">
            <div class="chars__swiper" data-swiper="navigation">
              <ul class="chars__swiper-wrapper">
                <li class="chars__slide">
                  <div class="chars__item">
                    <div class="chars__img">
                      <picture>
                        <source width="722" height="572" type="image/webp" media="(min-width: 768px)" srcset="img/chars/cafe-full@1x.webp 1x, img/chars/cafe-full@2x.webp 2x">
                        <source width="409" height="396" type="image/webp" srcset="img/chars/cafe@1x.webp 1x, img/chars/cafe@2x.webp 2x">
                        <source width="722" height="572" type="image/jpg" media="(min-width: 768px)" srcset="img/chars/cafe-full@1x.jpg 1x, img/chars/cafe-full@2x.jpg 2x">
                        <img src="img/chars/cafe@1x.jpg" srcset="img/chars/cafe@2x.jpg 2x" width="409" height="396" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <dl class="chars__details">
                      <div>
                        <dt>Тип конструкции</dt>
                        <dd>Примыкающая</dd>
                      </div>
                      <div>
                        <dt>Максимальная ширина (пролёт)</dt>
                        <dd>до&nbsp;~&nbsp;14,0&nbsp;м (в&nbsp;единичном модуле)</dd>
                      </div>
                      <div>
                        <dt>Максимальный вынос (глубина)</dt>
                        <dd>~&nbsp;6,0–7,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Максимальная высота</dt>
                        <dd>~&nbsp;2,5‑3,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Моторизация</dt>
                        <dd>Электродвигатель (например, Somfy или аналогичный) для движения тента по&nbsp;направляющим</dd>
                      </div>
                      <div>
                        <dt>Дистанционное управление</dt>
                        <dd>Пульт, настенная панель, возможна интеграция с&nbsp;системой “умного дома”</dd>
                      </div>
                      <div>
                        <dt>Система водоотведения</dt>
                        <dd>Встроенные лотки или каналы в&nbsp;каркасе / колоннах для отвода воды</dd>
                      </div>
                    </dl>
                    <div class="chars__bottom">
                      <p class="chars__cost-title">Стоимость</p>
                      <p class="chars__cost">от&nbsp;100&nbsp;000&nbsp;₽</p>
                      <a class="chars__callback button">Узнать точную цену</a>
                    </div>
                  </div>
                </li>
                <li class="chars__slide">
                  <div class="chars__item">
                    <div class="chars__img">
                      <picture>
                        <source width="722" height="572" type="image/webp" media="(min-width: 768px)" srcset="img/chars/aluminum-tablet@1x.webp 1x, img/chars/aluminum-tablet@2x.webp 2x">
                        <source width="409" height="396" type="image/webp" srcset="img/chars/aluminum-mobile@1x.webp 1x, img/chars/aluminum-mobile@2x.webp 2x">
                        <source width="722" height="572" type="image/jpg" media="(min-width: 768px)" srcset="img/chars/aluminum-tablet@1x.jpg 1x, img/chars/aluminum-tablet@2x.jpg 2x">
                        <img src="img/chars/aluminum-mobile@1x.jpg" srcset="img/chars/aluminum-mobile@2x.jpg 2x" width="409" height="396" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <dl class="chars__details">
                      <div>
                        <dt>Тип конструкции</dt>
                        <dd>Примыкающая</dd>
                      </div>
                      <div>
                        <dt>Максимальная ширина (пролёт)</dt>
                        <dd>до&nbsp;~&nbsp;14,0&nbsp;м (в&nbsp;единичном модуле)</dd>
                      </div>
                      <div>
                        <dt>Максимальный вынос (глубина)</dt>
                        <dd>~&nbsp;6,0–7,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Максимальная высота</dt>
                        <dd>~&nbsp;2,5‑3,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Моторизация</dt>
                        <dd>Электродвигатель (например, Somfy или аналогичный) для движения тента по&nbsp;направляющим</dd>
                      </div>
                      <div>
                        <dt>Дистанционное управление</dt>
                        <dd>Пульт, настенная панель, возможна интеграция с&nbsp;системой “умного дома”</dd>
                      </div>
                      <div>
                        <dt>Система водоотведения</dt>
                        <dd>Встроенные лотки или каналы в&nbsp;каркасе / колоннах для отвода воды</dd>
                      </div>
                    </dl>
                    <div class="chars__bottom">
                      <p class="chars__cost-title">Стоимость</p>
                      <p class="chars__cost">от&nbsp;100&nbsp;000&nbsp;₽</p>
                      <a class="chars__callback button">Узнать точную цену</a>
                    </div>
                  </div>
                </li>
                <li class="chars__slide">
                  <div class="chars__item">
                    <div class="chars__img">
                      <picture>
                        <source width="722" height="572" type="image/webp" media="(min-width: 768px)" srcset="img/chars/cafe-full@1x.webp 1x, img/chars/cafe-full@2x.webp 2x">
                        <source width="409" height="396" type="image/webp" srcset="img/chars/cafe@1x.webp 1x, img/chars/cafe@2x.webp 2x">
                        <source width="722" height="572" type="image/jpg" media="(min-width: 768px)" srcset="img/chars/cafe-full@1x.jpg 1x, img/chars/cafe-full@2x.jpg 2x">
                        <img src="img/chars/cafe@1x.jpg" srcset="img/chars/cafe@2x.jpg 2x" width="409" height="396" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <dl class="chars__details">
                      <div>
                        <dt>Тип конструкции</dt>
                        <dd>Примыкающая</dd>
                      </div>
                      <div>
                        <dt>Максимальная ширина (пролёт)</dt>
                        <dd>до&nbsp;~&nbsp;14,0&nbsp;м (в&nbsp;единичном модуле)</dd>
                      </div>
                      <div>
                        <dt>Максимальный вынос (глубина)</dt>
                        <dd>~&nbsp;6,0–7,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Максимальная высота</dt>
                        <dd>~&nbsp;2,5‑3,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Моторизация</dt>
                        <dd>Электродвигатель (например, Somfy или аналогичный) для движения тента по&nbsp;направляющим</dd>
                      </div>
                      <div>
                        <dt>Дистанционное управление</dt>
                        <dd>Пульт, настенная панель, возможна интеграция с&nbsp;системой “умного дома”</dd>
                      </div>
                      <div>
                        <dt>Система водоотведения</dt>
                        <dd>Встроенные лотки или каналы в&nbsp;каркасе / колоннах для отвода воды</dd>
                      </div>
                    </dl>
                    <div class="chars__bottom">
                      <p class="chars__cost-title">Стоимость</p>
                      <p class="chars__cost">от&nbsp;100&nbsp;000&nbsp;₽</p>
                      <a class="chars__callback button">Узнать точную цену</a>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="chars__swiper-controls">
                <p class="chars__swiper-progress swiper-progress"></p>
                <div class="chars__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chars__tabcontent tabs__tabcontent" data-tab-content="curved">
          <div class="chars__swiper-container">
            <div class="chars__swiper" data-swiper="navigation">
              <ul class="chars__swiper-wrapper">
                <li class="chars__slide">
                  <div class="chars__item">
                    <div class="chars__img">
                      <picture>
                        <source width="722" height="572" type="image/webp" media="(min-width: 768px)" srcset="img/chars/aluminum-tablet@1x.webp 1x, img/chars/aluminum-tablet@2x.webp 2x">
                        <source width="409" height="396" type="image/webp" srcset="img/chars/aluminum-mobile@1x.webp 1x, img/chars/aluminum-mobile@2x.webp 2x">
                        <source width="722" height="572" type="image/jpg" media="(min-width: 768px)" srcset="img/chars/aluminum-tablet@1x.jpg 1x, img/chars/aluminum-tablet@2x.jpg 2x">
                        <img src="img/chars/aluminum-mobile@1x.jpg" srcset="img/chars/aluminum-mobile@2x.jpg 2x" width="409" height="396" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <dl class="chars__details">
                      <div>
                        <dt>Тип конструкции</dt>
                        <dd>Примыкающая</dd>
                      </div>
                      <div>
                        <dt>Максимальная ширина (пролёт)</dt>
                        <dd>до&nbsp;~&nbsp;14,0&nbsp;м (в&nbsp;единичном модуле)</dd>
                      </div>
                      <div>
                        <dt>Максимальный вынос (глубина)</dt>
                        <dd>~&nbsp;6,0–7,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Максимальная высота</dt>
                        <dd>~&nbsp;2,5‑3,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Моторизация</dt>
                        <dd>Электродвигатель (например, Somfy или аналогичный) для движения тента по&nbsp;направляющим</dd>
                      </div>
                      <div>
                        <dt>Дистанционное управление</dt>
                        <dd>Пульт, настенная панель, возможна интеграция с&nbsp;системой “умного дома”</dd>
                      </div>
                      <div>
                        <dt>Система водоотведения</dt>
                        <dd>Встроенные лотки или каналы в&nbsp;каркасе / колоннах для отвода воды</dd>
                      </div>
                    </dl>
                    <div class="chars__bottom">
                      <p class="chars__cost-title">Стоимость</p>
                      <p class="chars__cost">от&nbsp;100&nbsp;000&nbsp;₽</p>
                      <a class="chars__callback button">Узнать точную цену</a>
                    </div>
                  </div>
                </li>
                <li class="chars__slide">
                  <div class="chars__item">
                    <div class="chars__img">
                      <picture>
                        <source width="722" height="572" type="image/webp" media="(min-width: 768px)" srcset="img/chars/cafe-full@1x.webp 1x, img/chars/cafe-full@2x.webp 2x">
                        <source width="409" height="396" type="image/webp" srcset="img/chars/cafe@1x.webp 1x, img/chars/cafe@2x.webp 2x">
                        <source width="722" height="572" type="image/jpg" media="(min-width: 768px)" srcset="img/chars/cafe-full@1x.jpg 1x, img/chars/cafe-full@2x.jpg 2x">
                        <img src="img/chars/cafe@1x.jpg" srcset="img/chars/cafe@2x.jpg 2x" width="409" height="396" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <dl class="chars__details">
                      <div>
                        <dt>Тип конструкции</dt>
                        <dd>Примыкающая</dd>
                      </div>
                      <div>
                        <dt>Максимальная ширина (пролёт)</dt>
                        <dd>до&nbsp;~&nbsp;14,0&nbsp;м (в&nbsp;единичном модуле)</dd>
                      </div>
                      <div>
                        <dt>Максимальный вынос (глубина)</dt>
                        <dd>~&nbsp;6,0–7,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Максимальная высота</dt>
                        <dd>~&nbsp;2,5‑3,0&nbsp;м</dd>
                      </div>
                      <div>
                        <dt>Моторизация</dt>
                        <dd>Электродвигатель (например, Somfy или аналогичный) для движения тента по&nbsp;направляющим</dd>
                      </div>
                      <div>
                        <dt>Дистанционное управление</dt>
                        <dd>Пульт, настенная панель, возможна интеграция с&nbsp;системой “умного дома”</dd>
                      </div>
                      <div>
                        <dt>Система водоотведения</dt>
                        <dd>Встроенные лотки или каналы в&nbsp;каркасе / колоннах для отвода воды</dd>
                      </div>
                    </dl>
                    <div class="chars__bottom">
                      <p class="chars__cost-title">Стоимость</p>
                      <p class="chars__cost">от&nbsp;100&nbsp;000&nbsp;₽</p>
                      <a class="chars__callback button">Узнать точную цену</a>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="chars__swiper-controls">
                <p class="chars__swiper-progress swiper-progress"></p>
                <div class="chars__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chars__name">
      <p>Luxsunlife</p>
    </div>
  </div>
</section>
