<section class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <h2 class="faq__title title">Ответы на&nbsp;вопросы, которые у&nbsp;вас появились</h2>
      <ul class="faq__list">
        <li class="faq__item">
          <button class="faq__button accordion-button accordion-button--active" type="button">
            <span>Как долго длится процесс установки?</span>
          </button>
          <div class="faq__content accordion-content accordion-content--opened">
            <p>Непосредственно установка занимает от&nbsp;1&nbsp;до&nbsp;3&nbsp;дней, в&nbsp;зависимости от&nbsp;сложности проекта. Полный цикл работ мы&nbsp;выполняем за&nbsp;3&nbsp;недели (21&nbsp;рабочий день). Мы&nbsp;всегда стремимся минимизировать неудобства для вас, а&nbsp;также всегда убираем за&nbsp;собой территорию.</p>
          </div>
        </li>
        <li class="faq__item">
          <button class="faq__button accordion-button" type="button">
            <span>Предоставляете&nbsp;ли вы&nbsp;гарантию на&nbsp;свою продукцию?</span>
          </button>
          <div class="faq__content accordion-content">
            <p>Непосредственно установка занимает от&nbsp;1&nbsp;до&nbsp;3&nbsp;дней, в&nbsp;зависимости от&nbsp;сложности проекта. Полный цикл работ мы&nbsp;выполняем за&nbsp;3&nbsp;недели (21&nbsp;рабочий день). Мы&nbsp;всегда стремимся минимизировать неудобства для вас, а&nbsp;также всегда убираем за&nbsp;собой территорию.</p>
          </div>
        </li>
        <li class="faq__item">
          <button class="faq__button accordion-button" type="button">
            <span>Можно ли заказать индивидуальный дизайн?</span>
          </button>
          <div class="faq__content accordion-content">
            <p>Непосредственно установка занимает от&nbsp;1&nbsp;до&nbsp;3&nbsp;дней, в&nbsp;зависимости от&nbsp;сложности проекта. Полный цикл работ мы&nbsp;выполняем за&nbsp;3&nbsp;недели (21&nbsp;рабочий день). Мы&nbsp;всегда стремимся минимизировать неудобства для вас, а&nbsp;также всегда убираем за&nbsp;собой территорию.</p>
          </div>
        </li>
        <li class="faq__item">
          <button class="faq__button accordion-button" type="button">
            <span>Можно ли заказать индивидуальный дизайн?</span>
          </button>
          <div class="faq__content accordion-content">
            <p>Непосредственно установка занимает от&nbsp;1&nbsp;до&nbsp;3&nbsp;дней, в&nbsp;зависимости от&nbsp;сложности проекта. Полный цикл работ мы&nbsp;выполняем за&nbsp;3&nbsp;недели (21&nbsp;рабочий день). Мы&nbsp;всегда стремимся минимизировать неудобства для вас, а&nbsp;также всегда убираем за&nbsp;собой территорию.</p>
          </div>
        </li>
      </ul>
      <a class="faq__callback button button--dark">Задайте свой вопрос</a>
    </div>
  </div>
</section>
