<section class="features">
  <div class="container">
    <h2 class="features__title title title--shift">Пергола&nbsp;— <span class="title-accent">это архитектурное решение, которое сочетает в&nbsp;себе</span> дизайн, технологии и&nbsp;функциональность</h2>
    <div class="features__wrapper">
      <div class="features__img">
        <picture>
          <source width="1880" height="879" type="image/webp" srcset="img/features/pergola@1x.webp 1x, img/features/pergola@2x.webp 2x">
          <img src="img/features/pergola@1x.jpg" srcset="img/features/pergola@2x.jpg 2x" width="1880" height="879" alt="Премиальные перголы">
        </picture>
      </div>
      <ul class="features__list">
        <li class="features__item features__item--roof">
          <button class="features__button accordion-button accordion-button--active" type="button">Крыша перголы</button>
          <button class="features__plus">
            <span class="visually-hidden">Открыть характеристику</span>
          </button>
          <div class="features__content">
            <p class="features__subtitle">Крыша перголы</p>
            <div class="features__text accordion-content accordion-content--opened">
              <p>Функциональна в&nbsp;отличие от&nbsp;других навесов: ламели регулируют свет и&nbsp;вентиляцию, тентовая система двигается, а&nbsp;сэндвич-панели обеспечивают теплоизоляцию.</p>
            </div>
          </div>
        </li>
        <li class="features__item features__item--functions">
          <button class="features__button accordion-button" type="button">Интеллектуальные функции</button>
          <button class="features__plus">
            <span class="visually-hidden">Открыть характеристику</span>
          </button>
          <div class="features__content">
            <p class="features__subtitle">Интеллектуальные функции</p>
            <div class="features__text accordion-content">
              <p>Автоматическое управление ламелями, освещением, обогревом, ZIP-экранами и&nbsp;другими системами. Управление&nbsp;— с&nbsp;пульта, панели или смартфона. Установка климатических датчиков.</p>
            </div>
          </div>
        </li>
        <li class="features__item features__item--construction">
          <button class="features__button accordion-button" type="button">Конструкция</button>
          <button class="features__plus">
            <span class="visually-hidden">Открыть характеристику</span>
          </button>
          <div class="features__content">
            <p class="features__subtitle">Конструкция</p>
            <div class="features__text accordion-content">
              <p>Инженерная прочность, рассчитанная на&nbsp;высокие ветровые и&nbsp;снеговые нагрузки до&nbsp;180&nbsp;кг/м2. Алюминиевый каркас, устойчивый к&nbsp;коррозии. Вынос до&nbsp;8&nbsp;метров без дополнительных колонн, возможность масштабирования и&nbsp;интеграции с&nbsp;другими элементами.</p>
            </div>
          </div>
        </li>
        <li class="features__item features__item--water">
          <button class="features__button accordion-button" type="button">Ливневый профиль</button>
          <button class="features__plus">
            <span class="visually-hidden">Открыть характеристику</span>
          </button>
          <div class="features__content">
            <p class="features__subtitle">Ливневый профиль</p>
            <div class="features__text accordion-content">
              <p>Обеспечивает эффективное водоотведение, предотвращая скопление влаги и&nbsp;сохраняет чистоту зоны под навесом.</p>
            </div>
          </div>
        </li>
        <li class="features__item features__item--design">
          <button class="features__button accordion-button" type="button">Дизайн и эстетика</button>
          <button class="features__plus">
            <span class="visually-hidden">Открыть характеристику</span>
          </button>
          <div class="features__content">
            <p class="features__subtitle">Дизайн и эстетика</p>
            <div class="features__text accordion-content">
              <p>Современный минимализм, лаконичные формы, скрытые механизмы. Возможность покраски в&nbsp;любой цвет по&nbsp;RAL и&nbsp;точной подгонки под архитектуру дома или коммерческого объекта.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
