<div class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <p class="hero__slogan">Премиальные перголы, <br>которые идеально впишутся <br>в&nbsp;любой интерьер</p>
        <h1 class="hero__title">Установка алюминиевых пергол в&nbsp;Москве <br>и Московской&nbsp;области <br>по&nbsp;индивидуальному дизайну</h1>
        <div class="hero__image">
          <picture>
            <source width="1920" height="1080" type="image/webp" media="(min-width: 768px)" srcset="img/hero/hero-main-tablet@1x.webp 1x, img/hero/hero-main-tablet@2x.webp 2x">
            <source width="768" height="656" type="image/webp" srcset="img/hero/hero-main-mobile@1x.webp 1x, img/hero/hero-main-mobile@2x.webp 2x">
            <source width="1920" height="1080" type="image/jpg" media="(min-width: 768px)" srcset="img/hero/hero-main-tablet@1x.jpg 1x, img/hero/hero-main-tablet@2x.jpg 2x">
            <img src="img/hero/hero-main-mobile@1x.jpg" srcset="img/hero/hero-main-mobile@2x.jpg 2x" width="768" height="656" alt="Премиальные перголы">
          </picture>
        </div>
      </div>
      <div class="hero__bottom">
        <a class="hero__order button" href="#">Заказать бесплатную консультацию</a>
        <p class="hero__name">Luxsunlife</p>
      </div>
    </div>
  </div>
</div>
