<div class="modal modal-standard" data-modal="callback">
  <div class="modal__container modal-standard__container callback-form">
    <button class="modal__close-button">
      <span class="visually-hidden">Закрыть.</span>
    </button>
    <p class="callback-form__title title" data-modal-title>Закажите обратный звонок&nbsp;— мы свяжемся с&nbsp;вами и ответим на&nbsp;вопросы</p>
    <p class="callback-form__description" data-modal-desc>Оставьте свои контакты, и наш&nbsp;специалист перезвонит вам в&nbsp;удобное время.</p>
    <form class="callback-form__form" action="form.php" method="post">
      <label class="callback-form__field">
        <span class="visually-hidden">Имя</span>
        <input class="callback-form__input" type="text" name="name" placeholder="Имя*">
      </label>
      <label class="callback-form__field">
        <span class="visually-hidden">Телефон</span>
        <input class="callback-form__input" type="tel" name="phone" placeholder="Телефон*">
      </label>
      <label class="callback-form__field callback-form__field--wide">
        <span class="visually-hidden">Комментарий</span>
        <input class="callback-form__input" type="text" name="message" placeholder="Комментарий">
      </label>
      <div class="callback-form__form-bottom">
        <label class="callback-form__accept">
          <span class="callback-form__label">Я&nbsp;ознакомлен с&nbsp;Политикой конфиденциальности и&nbsp;даю согласие на&nbsp;обработку моих персональных данных</span>
          <input class="visually-hidden" type="checkbox" name="accept">
        </label>
        <button class="callback-form__form-button button button--dark" type="submit">Заказать звонок</button>
      </div>
      <div class="callback-form__form-error-wrapper form-error-message">
        <p class="callback-form__form-error hidden"></p>
      </div>
    </form>
    <div class="callback-form__images">
      <div class="callback-form__img">
        <picture>
          <source width="322" height="451" type="image/webp" media="(min-width: 768px)" srcset="img/modal/modal-1-tablet@1x.webp 1x, img/modal/modal-1-tablet@2x.webp 2x">
          <source width="390" height="304" type="image/webp" srcset="img/modal/modal-1-mobile@1x.webp 1x, img/modal/modal-1-mobile@2x.webp 2x">
          <source width="322" height="451" type="image/jpg" media="(min-width: 768px)" srcset="img/modal/modal-1-tablet@1x.jpg 1x, img/modal/modal-1-tablet@2x.jpg 2x">
          <img src="img/modal/modal-1-mobile@1x.jpg" srcset="img/modal/modal-1-mobile@2x.jpg 2x" width="390" height="304" alt="Премиальные перголы">
        </picture>
      </div>
      <div class="callback-form__img">
        <picture>
          <source width="321" height="189" type="image/webp" srcset="img/modal/modal-2@1x.webp 1x, img/modal/modal-2@2x.webp 2x">
          <img src="img/modal/modal-2@1x.jpg" srcset="img/modal/modal-2@2x.jpg 2x" width="321" height="189" alt="Премиальные перголы">
        </picture>
      </div>
      <div class="callback-form__img">
        <picture>
          <source width="322" height="345" type="image/webp" srcset="img/modal/modal-3@1x.webp 1x, img/modal/modal-3@2x.webp 2x">
          <img src="img/modal/modal-3@1x.jpg" srcset="img/modal/modal-3@2x.jpg 2x" width="322" height="345" alt="Премиальные перголы">
        </picture>
      </div>
      <div class="callback-form__img">
        <picture>
          <source width="321" height="303" type="image/webp" srcset="img/modal/modal-4@1x.webp 1x, img/modal/modal-4@2x.webp 2x">
          <img src="img/modal/modal-4@1x.jpg" srcset="img/modal/modal-4@2x.jpg 2x" width="321" height="303" alt="Премиальные перголы">
        </picture>
      </div>
    </div>
    <div class="callback-form__name">
      <p>Luxsunlife</p>
    </div>
  </div>
</div>
