<div class="modal modal-subscribe" data-modal="subscribe">
  <div class="modal__container modal-subscribe__container">
    <button class="modal__close-button">
      <span class="visually-hidden">Закрыть.</span>
    </button>
    <p class="modal-subscribe__title title">Смотрите самые свежие работы и новости в&nbsp;нашем telegram&#8288;-&#8288;канале</p>
    <span class="modal-subscribe__social-icon modal-subscribe__social-icon--tg" aria-hidden="true"></span>
    <a class="modal-subscribe__link button button--dark" href="https://t.me/LuxSunlife">Подписаться</a>
    <div class="modal-subscribe__images">
      <div class="modal-subscribe__img">
        <picture>
          <source width="151" height="187" type="image/webp" srcset="img/modal/modal-1-thumb@1x.webp 1x, img/modal/modal-1-thumb@2x.webp 2x">
          <img src="img/modal/modal-1-thumb@1x.jpg" srcset="img/modal/modal-1-thumb@2x.jpg 2x" width="151" height="187" alt="Премиальные перголы">
        </picture>
      </div>
      <div class="modal-subscribe__img">
        <picture>
          <source width="214" height="135" type="image/webp" srcset="img/modal/modal-3-thumb@1x.webp 1x, img/modal/modal-3-thumb@2x.webp 2x">
          <img src="img/modal/modal-3-thumb@1x.jpg" srcset="img/modal/modal-3-thumb@2x.jpg 2x" width="214" height="135" alt="Премиальные перголы">
        </picture>
      </div>
      <div class="modal-subscribe__img">
        <picture>
          <source width="125" height="118" type="image/webp" srcset="img/modal/modal-4-thumb@1x.webp 1x, img/modal/modal-4-thumb@2x.webp 2x">
          <img src="img/modal/modal-4-thumb@1x.jpg" srcset="img/modal/modal-4-thumb@2x.jpg 2x" width="125" height="118" alt="Премиальные перголы">
        </picture>
      </div>
      <div class="modal-subscribe__img">
        <picture>
          <source width="257" height="168" type="image/webp" srcset="img/modal/modal-2-thumb@1x.webp 1x, img/modal/modal-2-thumb@2x.webp 2x">
          <img src="img/modal/modal-2-thumb@1x.jpg" srcset="img/modal/modal-2-thumb@2x.jpg 2x" width="257" height="168" alt="Премиальные перголы">
        </picture>
      </div>
    </div>
  </div>
</div>
