<section class="process">
  <div class="container">
    <div class="process__wrapper">
      <h2 class="process__title title">Организуем процесс так, чтобы вам не&nbsp;пришлось ни&nbsp;о&nbsp;чём беспокоиться</h2>
      <div class="process__swiper-container">
        <div class="process__swiper" data-swiper="navigation">
          <ul class="process__swiper-wrapper">
            <li class="process__slide">
              <div class="process__item">
                <button class="process__button accordion-button accordion-button--active" type="button">Оценка и первичная консультация</button>
                <div class="process__content">
                  <p class="process__subtitle">Оценка и первичная консультация</p>
                  <div class="process__text accordion-content accordion-content--opened">
                    <p>Вы&nbsp;отправляете фото или описание объекта&nbsp;&mdash; мы&nbsp;даём предварительный расчёт стоимости и&nbsp;советуем оптимальные решения под задачу.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="process__slide">
              <div class="process__item">
                <button class="process__button accordion-button" type="button">Замер и подбор конфигурации</button>
                <div class="process__content">
                  <p class="process__subtitle">Замер и подбор конфигурации</p>
                  <div class="process__text accordion-content">
                    <p>Специалист выезжает на&nbsp;объект, проводит точные замеры, помогает выбрать тип перголы, материалы, цвет, дополнительные опции.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="process__slide">
              <div class="process__item">
                <button class="process__button accordion-button" type="button">Проект и договор</button>
                <div class="process__content">
                  <p class="process__subtitle">Проект и договор</p>
                  <div class="process__text accordion-content">
                    <p>Мы&nbsp;создаём макет будущей конструкции с&nbsp;учётом всех пожеланий и&nbsp;условий. После согласования подписываем договор с&nbsp;фиксированной ценой и&nbsp;сроками.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="process__slide">
              <div class="process__item">
                <button class="process__button accordion-button" type="button">Производство и комплектация</button>
                <div class="process__content">
                  <p class="process__subtitle">Производство и комплектация</p>
                  <div class="process__text accordion-content">
                    <p>Изготавливаем конструкцию на&nbsp;собственном производстве и&nbsp;комплектуем её&nbsp;оборудованием и&nbsp;фурнитурой. Контроль качества на&nbsp;каждом этапе.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="process__slide">
              <div class="process__item">
                <button class="process__button accordion-button" type="button">Монтаж точно по&nbsp;графику</button>
                <div class="process__content">
                  <p class="process__subtitle">Монтаж точно по&nbsp;графику</p>
                  <div class="process__text accordion-content">
                    <p>Осуществляем установку в&nbsp;согласованный день. Команда работает аккуратно, без нарушения ландшафта и&nbsp;с&nbsp;минимальным вмешательством в&nbsp;пространство.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="process__slide">
              <div class="process__item">
                <button class="process__button accordion-button" type="button">Передача и сопровождение</button>
                <div class="process__content">
                  <p class="process__subtitle">Передача и сопровождение</p>
                  <div class="process__text accordion-content">
                    <p>Проверка работы всех систем, инструктаж, передача объекта. Предоставляем гарантию и&nbsp;остаёмся на&nbsp;связи для сервиса и&nbsp;поддержки.</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="process__swiper-button-container hidden">
            <button class="button-swiper button-swiper--dark button-swiper--prev" type="button">
              <span class="visually-hidden">Назад.</span>
            </button>
            <button class="button-swiper button-swiper--dark button-swiper--next" type="button">
              <span class="visually-hidden">Вперёд.</span>
            </button>
          </div>
        </div>
      </div>
      <a class="process__callback button button--dark">Получить смету</a>
    </div>
  </div>
</section>
