<section class="production-video">
  <div class="container">
    <h2 class="production-video__title title">Наше производство</h2>
    <div class="video">
      <div class="video__img">
        <picture>
          <img src="img/placeholders/placeholder.jpg" width="430" height="328" alt="Премиальные перголы">
        </picture>
      </div>
      <div class="video__iframe-wrap hidden"></div>
      <button class="video__button-play" type="button">
        <span class="visually-hidden">Начать воспроизведение видео.</span>
      </button>
    </div>
  </div>
</section>
