<section class="solutions">
  <div class="container">
    <h2 class="solutions__title title title--shift">Расширьте <span class="title-accent">возможности перголы с&nbsp;помощью профессиональных решений:</span> автоматизация, освещение и климат&#8288;-&#8288;контроль</h2>
    <div class="solutions__tabs tabs">
      <div class="solutions__tabs-wrapper">
        <ul class="solutions__tablinks tabs__tablinks">
          <li class="solutions__tablinks-item">
            <button class="solutions__tablink tabs__tablink tabs__tablink--active" data-tab="wall" type="button">Стены</button>
          </li>
          <li class="solutions__tablinks-item">
            <button class="solutions__tablink tabs__tablink" data-tab="roof" type="button">Крыша</button>
          </li>
          <li class="solutions__tablinks-item">
            <button class="solutions__tablink tabs__tablink" data-tab="automatic" type="button">Автоматика и управление</button>
          </li>
          <li class="solutions__tablinks-item">
            <button class="solutions__tablink tabs__tablink" data-tab="equipment" type="button">Дополнительное оборудование</button>
          </li>
        </ul>
      </div>
      <div class="solutions__tabcontents tabs__tabcontents">
        <div class="solutions__tabcontent tabs__tabcontent tabs__tabcontent--active" data-tab-content="wall">
          <div class="solutions__swiper-container">
            <div class="solutions__swiper" data-swiper="navigation">
              <ul class="solutions__swiper-wrapper">
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">ZIP экраны</p>
                    <div class="solutions__img">
                      <picture>
                        <source width="434" height="356" type="image/webp" media="(min-width: 768px)" srcset="img/solutions/zip-tablet@1x.webp 1x, img/solutions/zip-tablet@2x.webp 2x">
                        <source width="353" height="240" type="image/webp" srcset="img/solutions/zip-mobile@1x.webp 1x, img/solutions/zip-mobile@2x.webp 2x">
                        <source width="434" height="356" type="image/jpg" media="(min-width: 768px)" srcset="img/solutions/zip-tablet@1x.jpg 1x, img/solutions/zip-tablet@2x.jpg 2x">
                        <img src="img/solutions/zip-mobile@1x.jpg" srcset="img/solutions/zip-mobile@2x.jpg 2x" width="353" height="240" alt="ZIP экраны">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>ZIP‑экраны&nbsp;— плотные тканевые шторы с&nbsp;направляющими, которые защищают от&nbsp;солнца, ветра и&nbsp;насекомых.Работают тихо, управляются с&nbsp;пульта, выглядят стильно.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Стационарное остекление</p>
                    <div class="solutions__img">
                      <picture>
                        <source width="434" height="356" type="image/webp" media="(min-width: 768px)" srcset="img/solutions/fixed-glazing-tablet@1x.webp 1x, img/solutions/fixed-glazing-tablet@2x.webp 2x">
                        <source width="353" height="240" type="image/webp" srcset="img/solutions/fixed-glazing-mobile@1x.webp 1x, img/solutions/fixed-glazing-mobile@2x.webp 2x">
                        <source width="434" height="356" type="image/jpg" media="(min-width: 768px)" srcset="img/solutions/fixed-glazing-tablet@1x.jpg 1x, img/solutions/fixed-glazing-tablet@2x.jpg 2x">
                        <img src="img/solutions/fixed-glazing-mobile@1x.jpg" srcset="img/solutions/fixed-glazing-mobile@2x.jpg 2x" width="353" height="240" alt="Стационарное остекление">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Стационарное остекление&nbsp;— это неподвижные стеклянные панели, которые обеспечивают максимальную защиту от&nbsp;ветра, осадков и&nbsp;шума.</p>
                      <p>Подходят для создания тёплого, герметичного пространства с&nbsp;отличной светопроницаемостью.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Гильотинное остекление</p>
                    <div class="solutions__img">
                      <picture>
                        <img src="img/placeholders/placeholder.jpg" width="430" height="328" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Гильотинное остекление&nbsp;— это вертикальные стеклянные панели, которые автоматически поднимаются и&nbsp;опускаются.</p>
                      <p>Позволяют открывать пространство снизу вверх, сохраняя обзор и&nbsp;защиту от&nbsp;погодных условий.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Раздвижное остекление</p>
                    <div class="solutions__img">
                      <picture>
                        <img src="img/placeholders/placeholder.jpg" width="430" height="328" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Раздвижное остекление&nbsp;— стеклянные панели, которые плавно сдвигаются в&nbsp;сторону вдоль направляющих.Позволяют легко открывать пространство, сохраняя панорамный вид и&nbsp;защищённость при закрытии.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
              </ul>
              <div class="solutions__swiper-controls">
                <div class="solutions__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="solutions__tabcontent tabs__tabcontent" data-tab-content="roof">
          <div class="solutions__swiper-container">
            <div class="solutions__swiper" data-swiper="navigation">
              <ul class="solutions__swiper-wrapper">
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Поворотные или поворотно-сдвижные ламели</p>
                    <div class="solutions__img">
                      <picture>
                        <source width="434" height="356" type="image/webp" media="(min-width: 768px)" srcset="img/solutions/lamellas-tablet@1x.webp 1x, img/solutions/lamellas-tablet@2x.webp 2x">
                        <source width="353" height="240" type="image/webp" srcset="img/solutions/lamellas-mobile@1x.webp 1x, img/solutions/lamellas-mobile@2x.webp 2x">
                        <source width="434" height="356" type="image/jpg" media="(min-width: 768px)" srcset="img/solutions/lamellas-tablet@1x.jpg 1x, img/solutions/lamellas-tablet@2x.jpg 2x">
                        <img src="img/solutions/lamellas-mobile@1x.jpg" srcset="img/solutions/lamellas-mobile@2x.jpg 2x" width="353" height="240" alt="Поворотно-сдвижные ламели">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Ламели&nbsp;— это подвижные элементы кровли, которые вращаются, регулируя свет, тень и&nbsp;вентиляцию. Надёжны, герметичны и&nbsp;управляются вручную или автоматически. Могут быть алюминиевые или стеклянные.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Тентовые системы</p>
                    <div class="solutions__img">
                      <picture>
                        <source width="434" height="356" type="image/webp" media="(min-width: 768px)" srcset="img/solutions/awning-systems-tablet@1x.webp 1x, img/solutions/awning-systems-tablet@2x.webp 2x">
                        <source width="353" height="240" type="image/webp" srcset="img/solutions/awning-systems-mobile@1x.webp 1x, img/solutions/awning-systems-mobile@2x.webp 2x">
                        <source width="434" height="356" type="image/jpg" media="(min-width: 768px)" srcset="img/solutions/awning-systems-tablet@1x.jpg 1x, img/solutions/awning-systems-tablet@2x.jpg 2x">
                        <img src="img/solutions/awning-systems-mobile@1x.jpg" srcset="img/solutions/awning-systems-mobile@2x.jpg 2x" width="353" height="240" alt="Тентовые системы">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Тентовая крыша&nbsp;— это прочное тканевое полотно, которое раздвигается и&nbsp;собирается по&nbsp;направляющим. Защищает от&nbsp;солнца и&nbsp;дождя, создаёт лёгкую и&nbsp;элегантную кровлю для открытых пространств.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Стеклянная крыша</p>
                    <div class="solutions__img">
                      <picture>
                        <source width="434" height="356" type="image/webp" media="(min-width: 768px)" srcset="img/solutions/glass-roof-tablet@1x.webp 1x, img/solutions/glass-roof-tablet@2x.webp 2x">
                        <source width="353" height="240" type="image/webp" srcset="img/solutions/glass-roof-mobile@1x.webp 1x, img/solutions/glass-roof-mobile@2x.webp 2x">
                        <source width="434" height="356" type="image/jpg" media="(min-width: 768px)" srcset="img/solutions/glass-roof-tablet@1x.jpg 1x, img/solutions/glass-roof-tablet@2x.jpg 2x">
                        <img src="img/solutions/glass-roof-mobile@1x.jpg" srcset="img/solutions/glass-roof-mobile@2x.jpg 2x" width="353" height="240" alt="Стеклянная крыша">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Стеклянная крыша&nbsp;— это светопрозрачное покрытие, которое пропускает максимум естественного света. Обеспечивает защиту от&nbsp;осадков и&nbsp;визуальную лёгкость конструкции.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Сэндвич&#8288;-&#8288;панели</p>
                    <div class="solutions__img">
                      <picture>
                        <source width="434" height="356" type="image/webp" media="(min-width: 768px)" srcset="img/solutions/sandwich-panels-tablet@1x.webp 1x, img/solutions/sandwich-panels-tablet@2x.webp 2x">
                        <source width="353" height="240" type="image/webp" srcset="img/solutions/sandwich-panels-mobile@1x.webp 1x, img/solutions/sandwich-panels-mobile@2x.webp 2x">
                        <source width="434" height="356" type="image/jpg" media="(min-width: 768px)" srcset="img/solutions/sandwich-panels-tablet@1x.jpg 1x, img/solutions/sandwich-panels-tablet@2x.jpg 2x">
                        <img src="img/solutions/sandwich-panels-mobile@1x.jpg" srcset="img/solutions/sandwich-panels-mobile@2x.jpg 2x" width="353" height="240" alt="Сэндвич-панели">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Сэндвич-панели&nbsp;— это многослойные утеплённые плиты, используемые для создания прочной и&nbsp;тёплой кровли.Надёжно защищают от&nbsp;холода, шума и&nbsp;осадков, подходят для всесезонной эксплуатации.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
              </ul>
              <div class="solutions__swiper-controls">
                <div class="solutions__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="solutions__tabcontent tabs__tabcontent" data-tab-content="automatic">
          <div class="solutions__swiper-container">
            <div class="solutions__swiper" data-swiper="navigation">
              <ul class="solutions__swiper-wrapper">
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Моторизированные системы</p>
                    <div class="solutions__img">
                      <picture>
                        <source width="434" height="356" type="image/webp" media="(min-width: 768px)" srcset="img/solutions/motorized-tablet@1x.webp 1x, img/solutions/motorized-tablet@2x.webp 2x">
                        <source width="353" height="240" type="image/webp" srcset="img/solutions/motorized-mobile@1x.webp 1x, img/solutions/motorized-mobile@2x.webp 2x">
                        <source width="434" height="356" type="image/jpg" media="(min-width: 768px)" srcset="img/solutions/motorized-tablet@1x.jpg 1x, img/solutions/motorized-tablet@2x.jpg 2x">
                        <img src="img/solutions/motorized-mobile@1x.jpg" srcset="img/solutions/motorized-mobile@2x.jpg 2x" width="353" height="240" alt="Моторизированные системы">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Моторизированные системы&nbsp;— это электроприводы, которые управляют крышей, ламелями, экранами и&nbsp;освещением.Обеспечивают удобство и&nbsp;автоматизацию работы всех элементов перголы.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Дистанционное управление (пульт, панель)</p>
                    <div class="solutions__img">
                      <picture>
                        <img src="img/placeholders/placeholder.jpg" width="430" height="328" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Дистанционное управление&nbsp;— это пульты и&nbsp;панели, с&nbsp;помощью которых можно контролировать освещение, крышу, ламели и&nbsp;экраны.Управление становится простым, удобным и&nbsp;не&nbsp;требует вставать с&nbsp;места.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Умный дом (управление со&nbsp;смартфона)</p>
                    <div class="solutions__img">
                      <picture>
                        <img src="img/placeholders/placeholder.jpg" width="430" height="328" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Умный дом&nbsp;— это управление всеми функциями перголы через смартфон или планшет.</p>
                      <p>Открывайте крышу, включайте свет и&nbsp;обогрев одним нажатием&nbsp;— из&nbsp;дома или удалённо.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Автоматическое управление (датчики ветра, дождя, солнца)</p>
                    <div class="solutions__img">
                      <picture>
                        <img src="img/placeholders/placeholder.jpg" width="430" height="328" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Автоматическое управление&nbsp;— система, которая реагирует на&nbsp;погоду с&nbsp;помощью датчиков ветра, дождя и&nbsp;солнца. Пергола сама открывается, закрывается или включает защиту, когда это действительно нужно.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
              </ul>
              <div class="solutions__swiper-controls">
                <div class="solutions__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="solutions__tabcontent tabs__tabcontent" data-tab-content="equipment">
          <div class="solutions__swiper-container">
            <div class="solutions__swiper" data-swiper="navigation">
              <ul class="solutions__swiper-wrapper">
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">LED&#8288;-&#8288;освещение</p>
                    <div class="solutions__img">
                      <picture>
                        <source width="434" height="356" type="image/webp" media="(min-width: 768px)" srcset="img/solutions/led-tablet@1x.webp 1x, img/solutions/led-tablet@2x.webp 2x">
                        <source width="353" height="240" type="image/webp" srcset="img/solutions/led-mobile@1x.webp 1x, img/solutions/led-mobile@2x.webp 2x">
                        <source width="434" height="356" type="image/jpg" media="(min-width: 768px)" srcset="img/solutions/led-tablet@1x.jpg 1x, img/solutions/led-tablet@2x.jpg 2x">
                        <img src="img/solutions/led-mobile@1x.jpg" srcset="img/solutions/led-mobile@2x.jpg 2x" width="353" height="240" alt="LED-освещение">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>LED-освещение&nbsp;— встроенная светодиодная подсветка, создающая мягкий, уютный свет в&nbsp;любое время суток. Может диммироваться и&nbsp;управляться с&nbsp;пульта или через смартфон.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Окраска по палитре&nbsp;RAL</p>
                    <div class="solutions__img">
                      <picture>
                        <img src="img/placeholders/placeholder.jpg" width="430" height="328" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Окраска по&nbsp;палитре RAL&nbsp;— это выбор любого цвета из&nbsp;международной системы оттенков.</p>
                      <p>Позволяет точно подобрать цвет перголы под фасад, интерьер или корпоративный стиль.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Встроенный ливневый профиль</p>
                    <div class="solutions__img">
                      <picture>
                        <source width="434" height="356" type="image/webp" media="(min-width: 768px)" srcset="img/solutions/rain-profile-tablet@1x.webp 1x, img/solutions/rain-profile-tablet@2x.webp 2x">
                        <source width="353" height="240" type="image/webp" srcset="img/solutions/rain-profile-mobile@1x.webp 1x, img/solutions/rain-profile-mobile@2x.webp 2x">
                        <source width="434" height="356" type="image/jpg" media="(min-width: 768px)" srcset="img/solutions/rain-profile-tablet@1x.jpg 1x, img/solutions/rain-profile-tablet@2x.jpg 2x">
                        <img src="img/solutions/rain-profile-mobile@1x.jpg" srcset="img/solutions/rain-profile-mobile@2x.jpg 2x" width="353" height="240" alt="Встроенный ливневый профиль">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Встроенный ливневый профиль&nbsp;— скрытая система водоотведения, встроенная в&nbsp;конструкцию перголы.Эффективно отводит дождевую воду по&nbsp;стойкам, без внешних труб и&nbsp;видимых элементов.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
                <li class="solutions__slide">
                  <div class="solutions__item">
                    <p class="solutions__subtitle">Климат&#8288;-&#8288;контроль (системы обогрева и охлаждения)</p>
                    <div class="solutions__img">
                      <picture>
                        <img src="img/placeholders/placeholder.jpg" width="430" height="328" alt="Премиальные перголы">
                      </picture>
                    </div>
                    <div class="solutions__content">
                      <p>Климат-контроль&nbsp;— это интеграция систем обогрева и&nbsp;охлаждения в&nbsp;перголу.</p>
                      <p>Поддерживает комфортную температуру в&nbsp;любую погоду&nbsp;— от&nbsp;жары до&nbsp;прохладных вечеров.</p>
                    </div>
                    <a class="solutions__callback button button--dark">Оставить заявку</a>
                  </div>
                </li>
              </ul>
              <div class="solutions__swiper-controls">
                <div class="solutions__swiper-button-container hidden">
                  <button class="button-swiper button-swiper--prev" type="button">
                    <span class="visually-hidden">Назад.</span>
                  </button>
                  <button class="button-swiper button-swiper--next" type="button">
                    <span class="visually-hidden">Вперёд.</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
