<div class="types">
  <div class="container">
    <div class="types__wrapper">
      <h2 class="types__title title title--shift">Современные навесы для <span class="title-accent">защиты от&nbsp;солнца, ветра и осадков,</span> которые дополнят любой экстерьер</h2>
      <ul class="types__list">
        <li class="types__item">
          <a class="types__subtitle" href="#">Тентовые перголы</a>
          <div class="types__img">
            <picture>
              <source width="935" height="505" type="image/webp" srcset="img/types/tent@1x.webp 1x, img/types/tent@2x.webp 2x">
              <img src="img/types/tent@1x.jpg" srcset="img/types/tent@2x.jpg 2x" width="935" height="505" alt="Тентовые перголы">
            </picture>
          </div>
          <div class="types__text">
            <p>Лёгкие и&nbsp;элегантные конструкции с&nbsp;раздвижной тканевой крышей. Отличный выбор для сезонного использования, защищают от&nbsp;солнца и&nbsp;дождя, создают уютную атмосферу.</p>
          </div>
          <div class="types__links">
            <a class="types__link button">Заказать перголу</a>
            <a class="types__link button" href="#">Узнать подробнее</a>
          </div>
        </li>
        <li class="types__item">
          <a class="types__subtitle" href="#">Биоклиматические перголы</a>
          <div class="types__img">
            <picture>
              <source width="935" height="505" type="image/webp" srcset="img/types/bio@1x.webp 1x, img/types/bio@2x.webp 2x">
              <img src="img/types/bio@1x.jpg" srcset="img/types/bio@2x.jpg 2x" width="935" height="505" alt="Биоклиматические перголы">
            </picture>
          </div>
          <div class="types__text">
            <p>Максимально функциональная конструкция с&nbsp;поворотными либо поворотно-сдвижными алюминиевыми ламелями. Регулирует свет и&nbsp;вентиляцию в&nbsp;зависимости от&nbsp;погодных условий. Умный комфорт и&nbsp;эстетика в&nbsp;одной системе.</p>
          </div>
          <div class="types__links">
            <a class="types__link button">Заказать перголу</a>
            <a class="types__link button" href="#">Узнать подробнее</a>
          </div>
        </li>
        <li class="types__item">
          <a class="types__subtitle" href="#">Перголы с&nbsp;сэндвич&#8288;-&#8288;панелями</a>
          <div class="types__img">
            <picture>
              <source width="935" height="505" type="image/webp" srcset="img/types/sandwich@1x.webp 1x, img/types/sandwich@2x.webp 2x">
              <img src="img/types/sandwich@1x.jpg" srcset="img/types/sandwich@2x.jpg 2x" width="935" height="505" alt="Перголы с сэндвич-панелями">
            </picture>
          </div>
          <div class="types__text">
            <p>Надёжная всесезонная защита. Крыша из&nbsp;сэндвич-панелей обеспечивает тепло- и&nbsp;шумоизоляцию, выдерживает снеговые нагрузки. Идеальна для использования круглый год.</p>
          </div>
          <div class="types__links">
            <a class="types__link button">Заказать перголу</a>
            <a class="types__link button" href="#">Узнать подробнее</a>
          </div>
        </li>
        <li class="types__item">
          <a class="types__subtitle" href="#">Зимний сад</a>
          <div class="types__img">
            <picture>
              <source width="935" height="505" type="image/webp" srcset="img/types/winter@1x.webp 1x, img/types/winter@2x.webp 2x">
              <img src="img/types/winter@1x.jpg" srcset="img/types/winter@2x.jpg 2x" width="935" height="505" alt="Зимний сад">
            </picture>
          </div>
          <div class="types__text">
            <p>Остеклённая конструкция, создающая отдельное тёплое пространство, наполненное светом. Отличное решение для круглогодичной эксплуатации и&nbsp;интеграции с&nbsp;ландшафтом.</p>
          </div>
          <div class="types__links">
            <a class="types__link button">Заказать перголу</a>
            <a class="types__link button" href="#">Узнать подробнее</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
