<div class="video-fixed">
  <button class="video-fixed__close" type="button">
    <span class="visually-hidden">Закрыть.</span>
  </button>
  <div class="video-fixed__wrapper video">
    <div class="video-fixed__img video__img">
      <img width="273" height="147" src="img/video/video-fixed.jpg" alt="Кадр из видео">
    </div>
    <div class="video-fixed__player video__player"></div>
    <button class="video-fixed__button-play video__button-play" type="button">
      <span class="visually-hidden">Начать воспроизведение видео.</span>
    </button>
  </div>
  <p class="video-fixed__text">Уникальный проект веерной перголы</p>
  <a class="video-fixed__link button-second" href="#">Смотреть видео</a>
</div>
