<section class="works">
  <div class="container">
    <div class="works__header">
      <h1 class="works__title title title--light">Наши работы</h1>
      <p class="works__count">200+</p>
    </div>
    <div class="works__tabs tabs">
      <div class="works__tabs-wrapper">
        <ul class="works__tablinks tabs__tablinks">
          <li class="works__tablinks-item">
            <button class="works__tablink tabs__tablink tabs__tablink--active" data-tab="aluminum" type="button">Алюминиевые перголы</button>
          </li>
          <li class="works__tablinks-item">
            <button class="works__tablink tabs__tablink" data-tab="tent-flat" type="button">Тентовые перголы плоские</button>
          </li>
          <li class="works__tablinks-item">
            <button class="works__tablink tabs__tablink" data-tab="tent-curved" type="button">Тентовые перголы изогнутые</button>
          </li>
          <li class="works__tablinks-item">
            <button class="works__tablink tabs__tablink" data-tab="winter" type="button">Зимний сад</button>
          </li>
          <li class="works__tablinks-item">
            <button class="works__tablink tabs__tablink" data-tab="sandwich" type="button">Пергола с&nbsp;сэндвич&#8288;-&#8288;панелями</button>
          </li>
        </ul>
      </div>
      <div class="works__tabcontents tabs__tabcontents">
        <div class="works__tabcontent tabs__tabcontent tabs__tabcontent--active" data-tab-content="aluminum">
          <div class="grid-layout">
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/forest-tablet@1x.webp 1x, img/works/forest-tablet@2x.webp 2x">
                    <source width="768" height="419" type="image/webp" srcset="img/works/forest-mobile@1x.webp 1x, img/works/forest-mobile@2x.webp 2x">
                    <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/forest-tablet@1x.jpg 1x, img/works/forest-tablet@2x.jpg 2x">
                    <img src="img/works/forest-mobile@1x.jpg" srcset="img/works/forest-mobile@2x.jpg 2x" width="768" height="419" alt="Лесная локация">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Лесная локация</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="460" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/villa-tablet@1x.webp 1x, img/works/villa-tablet@2x.webp 2x">
                    <source width="412" height="419" type="image/webp" srcset="img/works/villa-mobile@1x.webp 1x, img/works/villa-mobile@2x.webp 2x">
                    <source width="460" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/villa-tablet@1x.jpg 1x, img/works/villa-tablet@2x.jpg 2x">
                    <img src="img/works/villa-mobile@1x.jpg" srcset="img/works/villa-mobile@2x.jpg 2x" width="412" height="419" alt="Беседка на частной вилле">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Беседка на&nbsp;частной вилле</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="460" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/private-house-tablet@1x.webp 1x, img/works/private-house-tablet@2x.webp 2x">
                    <source width="412" height="419" type="image/webp" srcset="img/works/private-house-mobile@1x.webp 1x, img/works/private-house-mobile@2x.webp 2x">
                    <source width="460" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/private-house-tablet@1x.jpg 1x, img/works/private-house-tablet@2x.jpg 2x">
                    <img src="img/works/private-house-mobile@1x.jpg" srcset="img/works/private-house-mobile@2x.jpg 2x" width="412" height="419" alt="Частный дом">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Частный дом</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/family-oasis-blog-tablet@1x.webp 1x, img/works/family-oasis-blog-tablet@2x.webp 2x">
                    <source width="768" height="419" type="image/webp" srcset="img/works/family-oasis-blog-mobile@1x.webp 1x, img/works/family-oasis-blog-mobile@2x.webp 2x">
                    <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/family-oasis-blog-tablet@1x.jpg 1x, img/works/family-oasis-blog-tablet@2x.jpg 2x">
                    <img src="img/works/family-oasis-blog-mobile@1x.jpg" srcset="img/works/family-oasis-blog-mobile@2x.jpg 2x" width="768" height="419" alt="Семейный оазис у бассейна">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Семейный оазис у&nbsp;бассейна</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/recreation-blog-tablet@1x.webp 1x, img/works/recreation-blog-tablet@2x.webp 2x">
                    <source width="768" height="419" type="image/webp" srcset="img/works/recreation-blog-mobile@1x.webp 1x, img/works/recreation-blog-mobile@2x.webp 2x">
                    <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/recreation-blog-tablet@1x.jpg 1x, img/works/recreation-blog-tablet@2x.jpg 2x">
                    <img src="img/works/recreation-blog-mobile@1x.jpg" srcset="img/works/recreation-blog-mobile@2x.jpg 2x" width="768" height="419" alt="Локация для отдыха">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Локация для&nbsp;отдыха</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="460" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/villa-2-tablet@1x.webp 1x, img/works/villa-2-tablet@2x.webp 2x">
                    <source width="412" height="419" type="image/webp" srcset="img/works/villa-2-mobile@1x.webp 1x, img/works/villa-2-mobile@2x.webp 2x">
                    <source width="460" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/villa-2-tablet@1x.jpg 1x, img/works/villa-2-tablet@2x.jpg 2x">
                    <img src="img/works/villa-2-mobile@1x.jpg" srcset="img/works/villa-2-mobile@2x.jpg 2x" width="412" height="419" alt="Беседка на частной вилле">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Беседка на&nbsp;частной вилле</span></p>
              </a>
            </div>
          </div>
        </div>
        <div class="works__tabcontent tabs__tabcontent" data-tab-content="tent-flat">
          <div class="grid-layout">
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/recreation-blog-tablet@1x.webp 1x, img/works/recreation-blog-tablet@2x.webp 2x">
                    <source width="768" height="419" type="image/webp" srcset="img/works/recreation-blog-mobile@1x.webp 1x, img/works/recreation-blog-mobile@2x.webp 2x">
                    <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/recreation-blog-tablet@1x.jpg 1x, img/works/recreation-blog-tablet@2x.jpg 2x">
                    <img src="img/works/recreation-blog-mobile@1x.jpg" srcset="img/works/recreation-blog-mobile@2x.jpg 2x" width="768" height="419" alt="Локация для отдыха">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Локация для&nbsp;отдыха</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="460" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/villa-2-tablet@1x.webp 1x, img/works/villa-2-tablet@2x.webp 2x">
                    <source width="412" height="419" type="image/webp" srcset="img/works/villa-2-mobile@1x.webp 1x, img/works/villa-2-mobile@2x.webp 2x">
                    <source width="460" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/villa-2-tablet@1x.jpg 1x, img/works/villa-2-tablet@2x.jpg 2x">
                    <img src="img/works/villa-2-mobile@1x.jpg" srcset="img/works/villa-2-mobile@2x.jpg 2x" width="412" height="419" alt="Беседка на частной вилле">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Беседка на&nbsp;частной вилле</span></p>
              </a>
            </div>
          </div>
        </div>
        <div class="works__tabcontent tabs__tabcontent" data-tab-content="tent-curved">
          <div class="grid-layout">
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/forest-tablet@1x.webp 1x, img/works/forest-tablet@2x.webp 2x">
                    <source width="768" height="419" type="image/webp" srcset="img/works/forest-mobile@1x.webp 1x, img/works/forest-mobile@2x.webp 2x">
                    <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/forest-tablet@1x.jpg 1x, img/works/forest-tablet@2x.jpg 2x">
                    <img src="img/works/forest-mobile@1x.jpg" srcset="img/works/forest-mobile@2x.jpg 2x" width="768" height="419" alt="Лесная локация">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Лесная локация</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="460" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/villa-tablet@1x.webp 1x, img/works/villa-tablet@2x.webp 2x">
                    <source width="412" height="419" type="image/webp" srcset="img/works/villa-mobile@1x.webp 1x, img/works/villa-mobile@2x.webp 2x">
                    <source width="460" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/villa-tablet@1x.jpg 1x, img/works/villa-tablet@2x.jpg 2x">
                    <img src="img/works/villa-mobile@1x.jpg" srcset="img/works/villa-mobile@2x.jpg 2x" width="412" height="419" alt="Беседка на частной вилле">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Беседка на&nbsp;частной вилле</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="460" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/private-house-tablet@1x.webp 1x, img/works/private-house-tablet@2x.webp 2x">
                    <source width="412" height="419" type="image/webp" srcset="img/works/private-house-mobile@1x.webp 1x, img/works/private-house-mobile@2x.webp 2x">
                    <source width="460" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/private-house-tablet@1x.jpg 1x, img/works/private-house-tablet@2x.jpg 2x">
                    <img src="img/works/private-house-mobile@1x.jpg" srcset="img/works/private-house-mobile@2x.jpg 2x" width="412" height="419" alt="Частный дом">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Частный дом</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/family-oasis-blog-tablet@1x.webp 1x, img/works/family-oasis-blog-tablet@2x.webp 2x">
                    <source width="768" height="419" type="image/webp" srcset="img/works/family-oasis-blog-mobile@1x.webp 1x, img/works/family-oasis-blog-mobile@2x.webp 2x">
                    <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/family-oasis-blog-tablet@1x.jpg 1x, img/works/family-oasis-blog-tablet@2x.jpg 2x">
                    <img src="img/works/family-oasis-blog-mobile@1x.jpg" srcset="img/works/family-oasis-blog-mobile@2x.jpg 2x" width="768" height="419" alt="Семейный оазис у бассейна">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Семейный оазис у&nbsp;бассейна</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/recreation-blog-tablet@1x.webp 1x, img/works/recreation-blog-tablet@2x.webp 2x">
                    <source width="768" height="419" type="image/webp" srcset="img/works/recreation-blog-mobile@1x.webp 1x, img/works/recreation-blog-mobile@2x.webp 2x">
                    <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/recreation-blog-tablet@1x.jpg 1x, img/works/recreation-blog-tablet@2x.jpg 2x">
                    <img src="img/works/recreation-blog-mobile@1x.jpg" srcset="img/works/recreation-blog-mobile@2x.jpg 2x" width="768" height="419" alt="Локация для отдыха">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Локация для&nbsp;отдыха</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="460" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/villa-2-tablet@1x.webp 1x, img/works/villa-2-tablet@2x.webp 2x">
                    <source width="412" height="419" type="image/webp" srcset="img/works/villa-2-mobile@1x.webp 1x, img/works/villa-2-mobile@2x.webp 2x">
                    <source width="460" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/villa-2-tablet@1x.jpg 1x, img/works/villa-2-tablet@2x.jpg 2x">
                    <img src="img/works/villa-2-mobile@1x.jpg" srcset="img/works/villa-2-mobile@2x.jpg 2x" width="412" height="419" alt="Беседка на частной вилле">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Беседка на&nbsp;частной вилле</span></p>
              </a>
            </div>
          </div>
        </div>
        <div class="works__tabcontent tabs__tabcontent" data-tab-content="winter">
          <div class="grid-layout">
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/recreation-blog-tablet@1x.webp 1x, img/works/recreation-blog-tablet@2x.webp 2x">
                    <source width="768" height="419" type="image/webp" srcset="img/works/recreation-blog-mobile@1x.webp 1x, img/works/recreation-blog-mobile@2x.webp 2x">
                    <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/recreation-blog-tablet@1x.jpg 1x, img/works/recreation-blog-tablet@2x.jpg 2x">
                    <img src="img/works/recreation-blog-mobile@1x.jpg" srcset="img/works/recreation-blog-mobile@2x.jpg 2x" width="768" height="419" alt="Локация для отдыха">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Локация для&nbsp;отдыха</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="460" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/villa-2-tablet@1x.webp 1x, img/works/villa-2-tablet@2x.webp 2x">
                    <source width="412" height="419" type="image/webp" srcset="img/works/villa-2-mobile@1x.webp 1x, img/works/villa-2-mobile@2x.webp 2x">
                    <source width="460" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/villa-2-tablet@1x.jpg 1x, img/works/villa-2-tablet@2x.jpg 2x">
                    <img src="img/works/villa-2-mobile@1x.jpg" srcset="img/works/villa-2-mobile@2x.jpg 2x" width="412" height="419" alt="Беседка на частной вилле">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Беседка на&nbsp;частной вилле</span></p>
              </a>
            </div>
          </div>
        </div>
        <div class="works__tabcontent tabs__tabcontent" data-tab-content="sandwich">
          <div class="grid-layout">
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/forest-tablet@1x.webp 1x, img/works/forest-tablet@2x.webp 2x">
                    <source width="768" height="419" type="image/webp" srcset="img/works/forest-mobile@1x.webp 1x, img/works/forest-mobile@2x.webp 2x">
                    <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/forest-tablet@1x.jpg 1x, img/works/forest-tablet@2x.jpg 2x">
                    <img src="img/works/forest-mobile@1x.jpg" srcset="img/works/forest-mobile@2x.jpg 2x" width="768" height="419" alt="Лесная локация">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Лесная локация</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="460" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/villa-tablet@1x.webp 1x, img/works/villa-tablet@2x.webp 2x">
                    <source width="412" height="419" type="image/webp" srcset="img/works/villa-mobile@1x.webp 1x, img/works/villa-mobile@2x.webp 2x">
                    <source width="460" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/villa-tablet@1x.jpg 1x, img/works/villa-tablet@2x.jpg 2x">
                    <img src="img/works/villa-mobile@1x.jpg" srcset="img/works/villa-mobile@2x.jpg 2x" width="412" height="419" alt="Беседка на частной вилле">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Беседка на&nbsp;частной вилле</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="460" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/private-house-tablet@1x.webp 1x, img/works/private-house-tablet@2x.webp 2x">
                    <source width="412" height="419" type="image/webp" srcset="img/works/private-house-mobile@1x.webp 1x, img/works/private-house-mobile@2x.webp 2x">
                    <source width="460" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/private-house-tablet@1x.jpg 1x, img/works/private-house-tablet@2x.jpg 2x">
                    <img src="img/works/private-house-mobile@1x.jpg" srcset="img/works/private-house-mobile@2x.jpg 2x" width="412" height="419" alt="Частный дом">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Частный дом</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/family-oasis-blog-tablet@1x.webp 1x, img/works/family-oasis-blog-tablet@2x.webp 2x">
                    <source width="768" height="419" type="image/webp" srcset="img/works/family-oasis-blog-mobile@1x.webp 1x, img/works/family-oasis-blog-mobile@2x.webp 2x">
                    <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/family-oasis-blog-tablet@1x.jpg 1x, img/works/family-oasis-blog-tablet@2x.jpg 2x">
                    <img src="img/works/family-oasis-blog-mobile@1x.jpg" srcset="img/works/family-oasis-blog-mobile@2x.jpg 2x" width="768" height="419" alt="Семейный оазис у бассейна">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Семейный оазис у&nbsp;бассейна</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="935" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/recreation-blog-tablet@1x.webp 1x, img/works/recreation-blog-tablet@2x.webp 2x">
                    <source width="768" height="419" type="image/webp" srcset="img/works/recreation-blog-mobile@1x.webp 1x, img/works/recreation-blog-mobile@2x.webp 2x">
                    <source width="935" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/recreation-blog-tablet@1x.jpg 1x, img/works/recreation-blog-tablet@2x.jpg 2x">
                    <img src="img/works/recreation-blog-mobile@1x.jpg" srcset="img/works/recreation-blog-mobile@2x.jpg 2x" width="768" height="419" alt="Локация для отдыха">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Локация для&nbsp;отдыха</span></p>
              </a>
            </div>
            <div class="grid-layout__item">
              <a class="grid-layout__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
                <div class="grid-layout__img">
                  <picture>
                    <source width="460" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/villa-2-tablet@1x.webp 1x, img/works/villa-2-tablet@2x.webp 2x">
                    <source width="412" height="419" type="image/webp" srcset="img/works/villa-2-mobile@1x.webp 1x, img/works/villa-2-mobile@2x.webp 2x">
                    <source width="460" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/villa-2-tablet@1x.jpg 1x, img/works/villa-2-tablet@2x.jpg 2x">
                    <img src="img/works/villa-2-mobile@1x.jpg" srcset="img/works/villa-2-mobile@2x.jpg 2x" width="412" height="419" alt="Беседка на частной вилле">
                  </picture>
                </div>
                <p class="grid-layout__button button" data-modal-title><span>Беседка на&nbsp;частной вилле</span></p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
