<section class="works-preview">
  <div class="container">
    <h2 class="works-preview__title title title--light title--shift">Наши специалисты установили <span class="title-accent">несколько сотен</span> пергол и знают все&nbsp;нюансы</h2>
    <div class="works-preview__wrapper">
      <div class="works-preview__item">
        <a class="works-preview__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
          <div class="works-preview__img">
            <picture>
              <source width="421" height="555" type="image/webp" media="(min-width: 768px)" srcset="img/works/pavilion-tablet@1x.webp 1x, img/works/pavilion-tablet@2x.webp 2x">
              <source width="412" height="419" type="image/webp" srcset="img/works/pavilion-mobile@1x.webp 1x, img/works/pavilion-mobile@2x.webp 2x">
              <source width="421" height="555" type="image/jpg" media="(min-width: 768px)" srcset="img/works/pavilion-tablet@1x.jpg 1x, img/works/pavilion-tablet@2x.jpg 2x">
              <img src="img/works/pavilion-mobile@1x.jpg" srcset="img/works/pavilion-mobile@2x.jpg 2x" width="412" height="419" alt="Беседка частного дома">
            </picture>
          </div>
          <p class="works-preview__button button" data-modal-title>Беседка частного дома</p>
        </a>
      </div>
      <div class="works-preview__item">
        <a class="works-preview__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
          <div class="works-preview__img">
            <picture>
              <source width="895" height="483" type="image/webp" media="(min-width: 768px)" srcset="img/works/terrace-tablet@1x.webp 1x, img/works/terrace-tablet@2x.webp 2x">
              <source width="769" height="419" type="image/webp" srcset="img/works/terrace-mobile@1x.webp 1x, img/works/terrace-mobile@2x.webp 2x">
              <source width="895" height="483" type="image/jpg" media="(min-width: 768px)" srcset="img/works/terrace-tablet@1x.jpg 1x, img/works/terrace-tablet@2x.jpg 2x">
              <img src="img/works/terrace-mobile@1x.jpg" srcset="img/works/terrace-mobile@2x.jpg 2x" width="769" height="419" alt="Терраса для коттеджа">
            </picture>
          </div>
          <p class="works-preview__button button" data-modal-title>Терраса для коттеджа</p>
        </a>
      </div>
      <div class="works-preview__item">
        <a class="works-preview__link" role="button" aria-label="Открыть характеристики проекта" data-modal-button="project" data-modal-dynamic data-animation tabindex="0">
          <div class="works-preview__img">
            <picture>
              <source width="439" height="521" type="image/webp" media="(min-width: 768px)" srcset="img/works/recreation-tablet@1x.webp 1x, img/works/recreation-tablet@2x.webp 2x">
              <source width="769" height="419" type="image/webp" srcset="img/works/recreation-mobile@1x.webp 1x, img/works/recreation-mobile@2x.webp 2x">
              <source width="439" height="521" type="image/jpg" media="(min-width: 768px)" srcset="img/works/recreation-tablet@1x.jpg 1x, img/works/recreation-tablet@2x.jpg 2x">
              <img src="img/works/recreation-mobile@1x.jpg" srcset="img/works/recreation-mobile@2x.jpg 2x" width="769" height="419" alt="Зона отдыха гостевого дома">
            </picture>
          </div>
          <p class="works-preview__button button" data-modal-title>Зона отдыха гостевого дома</p>
        </a>
      </div>
      <a class="works-preview__all button" href="#">Смотреть все проекты</a>
      <form class="works-preview__form" action="form.php" method="post">
        <fieldset class="works-preview__form-group">
          <legend class="works-preview__form-title title title--light">Хотите заказать такой&nbsp;же проект?</legend>
          <p class="works-preview__form-text">Оставьте свои данные и мы свяжется с&nbsp;вами для уточнения всех деталей.</p>
          <ul class="works-preview__form-list">
            <li class="works-preview__form-item">
              <label class="works-preview__field">
                <span class="visually-hidden">Имя</span>
                <input class="works-preview__input" type="text" name="name" placeholder="Имя">
              </label>
            </li>
            <li class="works-preview__form-item">
              <label class="works-preview__field">
                <span class="visually-hidden">Телефон</span>
                <input class="works-preview__input" type="tel" name="phone" placeholder="Телефон">
              </label>
            </li>
          </ul>
        </fieldset>
        <div class="works-preview__form-footer">
          <label class="works-preview__accept">
            <span class="works-preview__label">Я&nbsp;ознакомлен с&nbsp;Политикой конфиденциальности и&nbsp;даю согласие на&nbsp;обработку моих персональных данных</span>
            <input class="visually-hidden" type="checkbox" name="accept">
          </label>
          <button class="works-preview__form-button button" type="submit">Отправить</button>
        </div>
        <div class="works-preview__form-error-wrapper form-error-message">
          <p class="works-preview__form-error hidden"></p>
        </div>
      </form>
    </div>
  </div>
</section>
