@use "mixins" as *;

// @include font-face("Benzin", "pragmatica-next_vf", 100 900, normal);
@include font-face("Benzin", "PhonkSans-Light", 400, normal);
@include font-face("Inter", "Inter-Regular", 400, normal);
@include font-face("Inter", "Inter-Bold", 700, normal);
@include font-face("Inter", "Inter-SemiBold", 600, normal);
@include font-face("Inter", "Inter-Medium", 500, normal);
@include font-face("Inter", "Inter-Light", 300, normal);
