@use "mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  color: var(--text-basic);
  background-color: var(--bg-light);
  -webkit-tap-highlight-color: transparent;

  @include vp-1024 {
    font-size: 18px;
  }
}

.page__main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

a:not([href]) {
  cursor: default;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset-mobile);
  max-width: var(--content-width);

  @include vp-768 {
    padding: 0 var(--container-offset-tablet);
  }
}

.centered {
  text-align: center;
}

.dis-scroll {
  overflow: hidden;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.accordion-content {
  @include accordion-content;
}

// sitemap

.sitemap {
  padding: 50px 0;
  color: var(--black);
}

.sitemap li:not(:last-child) {
  margin: 0 0 10px;
}

.sitemap a {
  @include interactive-opacity;

  font-size: 20px;
  color: inherit;
}
