// базовые подключения
@use "index" as *;

// подключения компонентов
@use "./components/logo-image";
@use "./components/title";
@use "./components/button";
@use "./components/button-swiper";
@use "./components/button-scroll-top";
@use "./components/breadcrumbs";
@use "./components/map";
@use "./components/modal";
@use "./components/scroll-animation";
@use "./components/slider-compare";
@use "./components/file-input";

// подключения секций страницы
@use "./blocks/header";
@use "./blocks/hero";
@use "./blocks/about-us";
@use "./blocks/areas";
@use "./blocks/advantages";
@use "./blocks/features";
@use "./blocks/types";
@use "./blocks/render";
@use "./blocks/chars";
