// базовые подключения
@use "index" as *;

// подключения компонентов
@use "./components/logo-image";
@use "./components/title";
@use "./components/button";
@use "./components/button-swiper";
@use "./components/button-scroll-top";
@use "./components/breadcrumbs";
@use "./components/map";
@use "./components/modal";
@use "./components/scroll-animation";
@use "./components/slider-compare";
@use "./components/file-input";
@use "./components/tabs";
@use "./components/video";

// подключения секций страницы
@use "./blocks/header";
@use "./blocks/hero";
@use "./blocks/about-us";
@use "./blocks/areas";
@use "./blocks/advantages";
@use "./blocks/features";
@use "./blocks/types";
@use "./blocks/render";
@use "./blocks/chars";
@use "./blocks/production-video";
@use "./blocks/solutions";
@use "./blocks/process";
@use "./blocks/works";
@use "./blocks/faq";
@use "./blocks/blog-preview";
@use "./blocks/bottom-img";
@use "./blocks/footer";
